.button-group {
  align-items: center;
  display: flex;

  > button {
    margin: 0;
    &:not(:last-child) {
      border-right: thin solid hsla(0, 0%, 100%, .2);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .dropdown {
    height: 100%;
    button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin: 0;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

}
