@import 'CSS/inc/_include-media.scss';


/**
 * @todo - moove the button stuff here to a new button component that has a conditional render
 * based on the viewport size. A regular button on medium+, an IconButton on small
 */

.project-settings__team-role-selector {
  width: 100%;
  .btn--form {
    width: 100%;
  }
}

.project-settings__team-submit {
  margin-top: 2.4rem; // like --with-space on field-containers
}

.project-settings__users-warning {
  width: 42rem;
}

.project-settings__teams {
  .icon-button {
    @include media('>medium') {
      display: none;
    }
  }
}

.project-settings__teams-btn {
  display: none;
  @include media('>medium') {
    display: block;
    width: 100%;
  }
}

.project-settings__team-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.project-settings__teammate {
  border-bottom: thin solid var(--theme-border-light);
  padding: 1.75rem 0 0;

  @include media('>medium') {
    border-bottom: none;
    margin-bottom: 2rem;
    padding: 0;
  }

  .field__control {
    align-items: center;
    display: flex;
  }

}

.project-settings__teammate-name {
  font-size: 1.7rem;
  line-height: 2.4rem;
  margin-left: var(--icon-margin);
}
