@import 'CSS/inc/_vars.scss';

.admin {


  // Plans section
  &-plans {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    margin: 0;
    padding: 0;

    &__title {
      color: $primary-dark;
    }

    &__item {
      flex: 1 1 100%;
      margin-right: 2rem;
      width: 50%;
      &:last-child {
        margin: 0;
      }
    }

    &__submit {
      margin: 2rem 0 0;
    }

    button:not([disabled]) {
      align-items: flex-start;
      background: transparent;
      border: thin solid var(--base-border-color);
      border-radius: $borderRadius;
      color: var(--base-color);
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: flex-start;
      margin: 0 1rem 0 0;
      padding: 0;
      text-align: left;
      transform: scale(.98);
      transition: transform 0.1s ease-in;
      user-select: unset;
      white-space: normal;
      width: 100%;

      &:hover {
        background: transparent;
        border: thin solid var(--base-border-color);
        color: var(--base-color);
      }

      &[aria-checked="true"] {
        border: thin solid $primary;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.02);
        transform: scale(1);
      }

    } // button

    // text
    &__content {
      flex: 1;
      padding: 2rem;
      h3 {
        color: $black-ter;
        font-weight: 700;
        margin: 0 0 1rem;
      }
      p {
        color: unset;
      }
      ul {
        list-style: none;
        margin: 1rem 0;
        padding-left: 0;
        li {
          align-items: center;
          display: flex;
          .icon {
            margin-right: .5rem;
          }
        }
      }
      [aria-checked="true"] & {
        h3 {
          color: $primary;
        }
      }
    }

    &__price {
      background-color: var(--base-border-color);
      color: $white;
      font-weight: 700;
      margin: 2rem 0 0 0;
      padding: 1rem 2rem;
      width: 100%;

      [aria-checked="true"] & {
        background-color: $primary;
      }
    }

  }

}
