<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/registration.css" />
  </head>
  <body>

    <div class="page registration">
      <h1>Join</h1>
      <h2>Your organization's new content repository</h2>

      <!-- Start plan selection -->
      <h3>Pick a plan</h3>
      <div class="register-plan-selection">
        <div class="register-plan-item">
          <h4>Basic</h4>
          <ol>
            <li>Feature</li>
            <li>Feature</li>
            <li>Feature</li>
          </ol>
          <button>Select plan</button>
        </div>
        <div class="register-plan-item">
          <h4>Advanced</h4>
          <ol>
            <li>Feature</li>
            <li>Feature</li>
            <li>Feature</li>
            <li>Feature</li>
            <li>Feature</li>
            <li>Feature</li>
          </ol>
          <button>Select plan</button>
        </div>
        <div class="register-plan-item">
          <h4>Enterprise</h4>
          <ol>
            <li>Feature</li>
            <li>Feature</li>
            <li>Feature</li>
            <li>Feature</li>
            <li>Feature</li>
            <li>Feature</li>
            <li>Feature</li>
            <li>Feature</li>
            <li>Feature</li>
          </ol>
          <button>Contact us</button>
        </div>
      </div>
      <!-- End plan selection -->

      <form>

        <fieldset>
          <legend>Your personal account</legend>
          <div>
            <label for="name">Your name</label>
            <input type="text" name="name" id="name" placeholder="Your name" />
          </div>
          <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="email@domain.com" />
          </div>
          <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
          </div>
        </fieldset>

        <fieldset>
          <legend>Your organization details</legend>
          <div>
              <label for="org">Organization's name</label>
              <input type="text" name="org" id="org" placeholder="ACME, Inc" />
            </div>
        </fieldset>

        <input type="submit" value="Create account">

      </form>

    </div>
    <!-- /registration page -->

  </body>
</html>
