@import 'CSS/inc/_include-media.scss';

// Outline
.document-outline__list {
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

.document-outline__list-item {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1.6rem;
  &--dragging {
    background-color: var(--color-gray-50);
    border-radius: var(--border-radius);
    cursor: grabbing;
    * {
      visibility: hidden;
      pointer-events: none;
    }
  }
}

.document-outline__clone-element {
  background-color: var(--theme-surface);
  border-radius: var(--border-radius);
  .document-outline__actions {
    display: none;
  }
}

.document-outline__dragger {
  cursor: grab;
  width: 3rem;
}

.document-outline__icon  {
  height: 2.4rem;
  margin-right: var(--icon-margin);
  overflow: hidden;
}

.document-outline__name {
  flex: 1;
  padding-right: var(--icon-margin);
  input {
    border: thin solid transparent;
    font-size: 1.2rem;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    .using-mouse & {
      &:focus {
        border: thin solid transparent;
        box-shadow: none;
      }
    }
  }
}

.document-outline__input[type="text"] {
  border: thin solid transparent;
  flex: 1;
  font-size: 1.2rem;
  min-height: auto;
  padding: .6rem 0;
  text-decoration: underline;
  .using-mouse & {
    &:focus {
      border: thin solid transparent;
      box-shadow: none;
      text-decoration: none;
    }
  }
}

.document-outline__status {
  height: 18px;
}

.document-outline__button {
  background-color: var(--theme-surface);
  border-top: thin solid var(--theme-border-light);
  padding: 2rem;
  button {
    width: 100%;
  }
}

