@import '../inc/vars';
@import '../inc/mixins';

:root {
  --form-background: #{$white};
  --form-placeholder-color: #{$gray};
  --form-field-width: 325px;
  --form-status-width: 50px;
  @media (prefers-color-scheme: dark) {
    --form-background: #{$black-er};
    --form-placeholder-color: #{$black-bis};
  }
}

form, .form {
  padding: 0 5px;

  // Defaults
  // ---------------------------------------------------------------------------
  label, .field__label {
    display: block;
    font-weight: 700;
    padding: 4px 0;
  }

  input[type="checkbox"], input[type="radio"] {
    display: inline-block;
    + label, .field__label {
      display: inline-block;
    }
  }

  input[type='text'],
  input[type='email'],
  input[type='number'],
  input[type='password'],
  .StripeElement {
    background: var(--form-background);
    border: thin solid var(--base-border-color);
    border-radius: $borderRadius;
    min-height: 38px;
    padding: 8px;
    width: 100%;
    &::placeholder {
      color: var(--form-placeholder-color);
    }
    &.focus {
      // StripeElement
      border: thin solid $action;
    }
    &:focus {
      @include focus(var(--form-background), $action);
    }
  }

  input[type='file'] {
    border: none;
  }

  // Form markup
  // ---------------------------------------------------------------------------
  &__section {
    border: thin solid var(--base-border-color);
    border-radius: $borderRadius;
    padding: 2rem;
  }

  // Field is from Bulma, we should probably undo this and start over at some point
  .field {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: var(--form-field-width);
    &__row {
      display: flex;
      width: 100%;
      button, .btn {
        margin-right: 1.8rem;
      }
    }
    &__control {
      position: relative;
      width: 100%;
      &--with-status {
        align-items: center;
        display: flex;
        width: calc(var(--form-field-width) + var(--form-status-width));
        input {
          width: var(--form-field-width);
        }
      }
    }
    &__status {
      padding-left: 1rem;
      width: var(--form-status-width);
    }
    &--with-space {
      padding-top: 2.4rem;
    }
  } // field

  .form-field {
    margin-bottom: 18px;

    &__help {
      color: $gray-dark;
      padding: 4px;
      width: 300px;
    }

    &--large {
      .field {
        width: 100%;
      }
    } // form-field--large

    &--horizontal {
      .field {
        align-items: flex-end;
        flex-direction: row;
        width: 100%;
        > div {
          margin-right: 1rem;
        }
      }
    } // form-field--horizontal

    &--with-button {
      align-items: center;
      display: flex;
      flex-direction: row;
      .field {
        input {
          border-radius: $borderRadius;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
      button, .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    &--hidden {
      display: none;
    } // form-field--hidden

    &--checkbox {
      .field {
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-end;
        input {
          margin-right: 6px;
          width: 30px;
        }
      }
      .form-field__help {
        padding-left: 40px;
      }
    } // form-field--checkbox

    &--error {
      .field {
        label, .field__label {
          color: $danger;
        }
        input, textarea {
          border-left: 6px solid $danger;
        }
      }
    } // form-field--eror

  } // form-field

}
