@import '../inc/vars';
@import '../inc/mixins';

:root {
  --form-background: #{$white};
  @media (prefers-color-scheme: dark) {
    --form-background: #{$black-er};
  }
}

form {
  padding: 0 5px;

  .field {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    &__row {
      display: flex;
      width: 100%;
      button, .btn {
        margin-right: 1.8rem;
      }
    }
    &__control {
      width: 100%;
    }
    &--with-space {
      padding-top: 2.4rem;
    }
  } // field

  .form-field {
    margin-bottom: 18px;

    &--large {
      .field {
        width: 100%;
      }
    } // form-field--large

    &--horizontal {
      .field {
        align-items: flex-end;
        flex-direction: row;
        width: 100%;
        > div {
          margin-right: 1rem;
        }
      }
    } // form-field--horizontal

    &--hidden {
      display: none;
    } // form-field--hidden

    &--checkbox {
      .field {
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-end;
        input {
          margin-right: 6px;
          width: 30px;
        }
      }
      .form-field__help {
        padding-left: 40px;
      }
    } // form-field--checkbox

    &--error {
      .field {
        label {
          color: $danger;
        }
        input, textarea {
          border-left: 6px solid $danger;
        }
      }
    } // form-field--eror

  } // form-field

  // Defaults
  // ---------------------------------------------------------------------------
  label {
    display: block;
    font-weight: 700;
    padding: 4px 0;
  }

  input[type="checkbox"], input[type="radio"] {
    display: inline-block;
    + label {
      display: inline-block;
    }
  }

  input[type='text'],
  input[type='email'],
  input[type='number'],
  .StripeElement {
    background: var(--form-background);
    border: thin solid var(--base-border-color);
    border-radius: $borderRadius;
    padding: 8px;
    width: 100%;
    &::placeholder {
      color: $gray;
    }
    &.focus {
      // StripeElement
      border: thin solid $action;
    }
    &:focus {
      @include focus(var(--form-background), $action);
    }
  }

  input[type='file'] {
    border: none;
  }

}
