@import '../inc/vars';
@import '../inc/mixins';

form {
  .form-field {
    margin-bottom: 18px;

    .field {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 300px;

      &__row {
        display: flex;
        width: 100%;
        button, .btn {
          margin-right: 1.8rem;
        }
      }

      &--with-space {
        padding-top: 2.4rem;
      }

    }

    &--large {
      .field {
        width: 100%;
      }
    }

    &--horizontal {
      .field {
        align-items: center;
        flex-direction: row;
      }
    }

    &--checkbox {
      .field {
        flex-direction: row-reverse;
        justify-content: flex-end;
        input {
          margin-right: 6px;
        }
      }
    }
  }

  label {
    display: block;
    font-weight: 700;
    padding: 4px 0;
  }

  input[type="checkbox"], input[type="radio"] {
    display: inline-block;
    + label {
      display: inline-block;
    }
  }

  input[type='text'],
  input[type='email'] {
    background: $white;
    border: thin solid $gray-light;
    border-radius: $borderRadius;
    padding: 8px;
    width: 100%;
    &::placeholder {
      color: $gray;
    }
    &:focus {
      @include focus($white, $action);
    }
  }

}
