@import '../inc/mixins';

.menu {
  --menu-background: var(--theme-overlay-light);
  --menu-color: var(--theme-text-color);
  --menu-border: var(--color-gray-30);
  --menu-hover-color: var(--theme-base);
  --menu-hover: var(--color-blue);
  --menu-dark: var(--color-gray-80);
  --menu-highlight: var(--color-gray-90);
  @media (prefers-color-scheme: dark) {
    --menu-border: var(--color-gray-90);
    --menu-dark: var(--color-gray-90);
    --menu-highlight: var(--color-gray-80);
  }
  background: var(--menu-background);
  border: thin solid var(--menu-border);
  border-radius: var(--border-radius);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.02);
  padding: 0;
  position: absolute;
  z-index: 10;
  // remove any list padding / margin and style
  > ol,
  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &--dark {
    background: var(--menu-dark);
    border: thin solid transparent;
  }

  &--right {
    right: 0;
  }

  &:not([hidden]) {
    transform: translateY(5px);
  }

  &--with-select {
    padding: 0;
    min-width: 339px;
  }
}

.menu__item {
  background-color: var(--menu-background);
  border-radius: 0;
  color: var(--menu-color);
  display: block;
  text-decoration: none;
  min-width: 210px;
  padding: 8px 14px;
  position: relative;
  width: 100%;

  &--divider {
    &:before {
      border-top: thin solid var(--menu-border);
      content : '';
      display: block;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 12;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  .menu--dark & {
    background-color: var(--menu-dark);
    color: var(--color-white);
    padding: 0;
  }
}

.menu__sub-item {
  @extend .menu__item;
  @include focus(transparent);
  font-weight: 500;
  &:hover, &:focus {
    background-color: var(--color-gray-4);
    color: var(--color-gray-10);
    cursor: pointer;
    .menu__submenu {
      display: block;
    }
  }
}

.menu__submenu {
  display: none;
  position: absolute;
  top: 0;
  z-index: 11;
  &--left {
    left: 99%;
    right: auto;
  }
  &--right {
    left: auto;
    right: 99%;
  }
}

.menu__list {
  li {
    margin: 0;
    padding: 0;
  }
  a, button {
    @extend .menu__item;
    @include focus(transparent);
    cursor: pointer;
    position: relative;
    text-align: left;
    white-space: normal;
    &.btn--warning {
      color: var(--color-orange);
    }
    &.btn--danger {
      color: var(--color-red);
    }
    &:hover {
      background-color: var(--menu-hover);
      color: var(--menu-hover-color);
    }
    &:active,
    &.active {
      background-color: var(--color-gray-6);
    }
    .menu--dark & {
      &:hover {
        background-color: var(--menu-highlight);
      }
    }
  }
}

.menu__footer {
  align-items: center;
  background-color: rgba(255, 255, 255, .08);
  border-top: thin solid rgba(255, 255, 255, .1);
  display: flex;
  justify-content: flex-end;
  padding: 6px;
}
