@import '../inc/vars';

$menuAnimationLength: 0.3s;
$menuBorderRadius: 8px;

.menu {
  background: $white;
  border: thin solid $gray-dark;
  border-radius: $menuBorderRadius;
  overflow: hidden;
  padding: 0;
  position: absolute;
  will-change: visibility, transform, opacity;
  z-index: 10;
  // remove any list padding / margin and style
  > ol,
  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &[hidden] {
    opacity: 0;
    transform: translateY(0);
    transition: visibility 0s linear, transform $menuAnimationLength ease, opacity 0.2s ease;
    visibility: hidden;
  }

  &--dark {
    background: $black-bis;
    border: thin solid transparent;
  }

  &--right {
    right: 0;
  }

  &:not([hidden]) {
    // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.02);
    opacity: 1;
    transform: translateY(5px);
    transition: visibility 0s ease 0.5s, transform $menuAnimationLength ease, opacity 0.2s ease;
    visibility: visible;
  }

  &--with-select {
    padding: 0;
    min-width: 339px;
  }
}

.menu__item {
  background-color: $white;
  color: $black-bis;
  cursor: pointer;
  display: block;
  text-decoration: none;
  min-width: 210px;
  padding: 8px 14px;
  width: 100%;
  &:hover {
    background-color: $white-ter;
  }
  &:active,
  &.active {
    background-color: $gray;
  }
  &:last-child {
    margin-bottom: 0;
  }

  .menu--dark & {
    background-color: $black-bis;
    color: $white;
    padding: 0;
    &:hover {
      background-color: lighten($black-bis, 5%);
    }
  }

}

.menu__list {
  li {
    margin: 0;
    padding: 0;
    // &.menu__divider {
    //   padding-top: 14px;
    // }
  }
  a, button {
    @extend .menu__item;
    text-align: left;
    &.btn--warning {
      color: $warning;
    }
    &.btn--danger {
      color: $danger;
    }
  }
}

.menu__divider {
  &:before {
    border-top: thin solid $gray;
    content : '';
    display: block;
    left: 0;
    position: absolute;
    width: 100%;
  }
}
