.file-uploader {
  align-items: center;
  background-color: hsla(255, 255%, 255%, .9);
  border-radius: var(--border-radius);
  border: thin solid var(--theme-border);
  display: flex;
  height: 100%;
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &--dragged-over {
    background-color: var(--color-gray-5);
    cursor: copy;
  }

  &--uploading {
    border: thin solid transparent;
    border-radius: 0;
    padding: 0;
  }

  &__icon {
    margin-bottom: .6rem;
  }

  &__content {
    text-align: center;
  }

  &__form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.2rem;
    width: 100%;
  }

  &__label {
    display: block;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1.8rem;
    text-align: center;

  }

  &__status {
    position: relative;
    width: 100%;
    .spinner {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
