.format-menu {
  --document-menu-width: 136px; // override

  &__format {
    color: var(--color-gray-40);
    margin-right: 4px;
    text-align: right;
    width: 40px;
  }

  &__closing {
    color: var(--color-gray-40);
    margin-left: 4px;
  }

  &__link {
    color: var(--color-blue);
  }

  // Reduce the height of poppers on short screens
  .popper {
    @media screen and (max-height: 700px) {
      max-height: 300px;
    }
  }

}
