@import 'CSS/inc/_vars.scss';

.error-boundary {
  background-color: var(--color-brand-light);
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
