@import 'CSS/inc/_vars.scss';
@import 'CSS/inc/_mixins.scss';

.project {
  // Header is the project name with icon, and more button...
  &__header {
    padding-bottom: 22px;
    position: relative;
    h1 {
      color: $primary;
      margin: 0;
    }
    p {
      margin: 0;
      padding: 0 0 0.400rem 0; // 6px
    }
    .small {
      color: $gray-dark;
    }
  }

  &__icon {
    height: 40px;
    margin-right: 7px;
    width: 40px;
    path {
      fill: $primary;
    }
  }

  .dropdown.project__dropdown {
    position: absolute;
    right: 0;
    top: 0;
  }

  // Details is the project details that can expand / contract
  &__details {
    padding: 0 0 0 47px;
  }

  &__statistics {
    padding: 19px 0 0 0;
  }

  &__expand {
    background-color: $white-bis;
    border-bottom: thin solid $white-ter;
    color: $black-ter;
    left: 50%;
    outline: none;
    position: relative;
    transform: translateX(-50%);
    width: 100vw;
    @include focus($white-bis);
    &--details {
      align-items: center;
      display: flex;
      padding: 8px $sideGutterWidth;
      .icon {
        height: 26px;
        width: 26px;
      }
    }
  }

  &__documents {
    display: flex;
    &-list-container {
      height: 100vh;
      overflow-y: auto;
      width: 30%;
    }
    &-document-container {
      padding: 32px;
    }
  }

}
