.document-field__text {
  --document-field-min-height: 64px;
  margin: auto;
  max-width: 1366px;
  width: 100%;

  // Override the SimpleMDE styling
  .CodeMirror {
    border: none;
    padding: 0;
    border-radius: 0;
    height: auto;
    min-height: var(--document-field-min-height);
    overflow: visible;

    pre {
      padding: 0;
    }

    .CodeMirror-scroll {
      height: auto !important;
      min-height: var(--document-field-min-height) !important;
      overflow: visible !important;
    }

    .CodeMirror-sizer {
      min-height: var(--document-field-min-height) !important;
    }

    .CodeMirror-code {
      font-size: 1.7rem;
      font-weight: 300;
      letter-spacing: 0.3px;
      line-height: 2.7rem;

      .cm-header-1 {
        font-size: 3.6rem;
        font-weight: 700;
        letter-spacing: 0.4px;
        line-height: 4.4rem;
      }

      .cm-header-2 {
        font-size: 2.8rem;
        font-weight: 700;
        letter-spacing: 0.3px;
        line-height: 3.8rem;
      }

      .cm-header-3 {
        font-size: 2.4rem;
        font-weight: 500;
        letter-spacing: 0.4px;
        line-height: 3.2rem;
      }

      .cm-header-4 {
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 0.4px;
        line-height: 2.9rem;
      }

      .cm-comment {
        background: rgba(0, 0, 0, 0.05);
        border-radius: 2px;
      }

      .cm-strong {
        font-weight: 800;
      }

      .cm-link {
        color: var(--color-blue);
      }

      .cm-url {
        color: var(--color-gray-30);
      }

      .cm-formatting-list-ul {
        color: var(--color-gray-20);
      }

      .cm-formatting-list-ol {
        color: var(--color-gray-20);
      }

      .cm-formatting-quote {
        border-left: 3px solid var(--color-gray-20);
        padding: 0 0 0 8px;
      }

      .cm-strikethrough {
        text-decoration: line-through;
      }

      .CodeMirror-placeholder {
        opacity: 0.5;
      }

      .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
        background: rgba(255, 0, 0, 0.15);
      }
    }
  }
}
