// To look at individual lines in the editor, search your web inspector for CodeMirror-code and
// CoreMirror-line

.document-field__text {
  --document-field-min-height: 48px;
  max-width: 1366px;
  width: 100%;

  // Override the SimpleMDE styling
  .CodeMirror {
    border: none;
    padding: 0;
    border-radius: 0;
    height: auto;
    min-height: var(--document-field-min-height);
    overflow: visible; // was visible

    pre {
      padding: 0;
    }

    .CodeMirror-vscrollbar {
      display: none !important;
    }

    .CodeMirror-cursor {
      border-left: thin solid var(--color-gray-40);
      @media (prefers-color-scheme: dark) {
        border-left: thin solid var(--color-gray-20);
      }
    }

    .CodeMirror-scroll {
      height: auto !important;
      min-height: var(--document-field-min-height) !important;
      overflow: visible !important;
    }

    .CodeMirror-sizer {
      min-height: var(--document-field-min-height) !important;
    }

    // Each line of text is in this container
    .CodeMirror-line {
      display: block;
      span[role="presentation"] {
        align-items: center;
        display: flex;
        flex-direction: row;
        position: relative;
      }
    }

    // This is the item that is displayed to the left of a line, usually showing
    // the # or ##
    // .cm-formatting {
    // }

    .CodeMirror-code {
      font-size: 1.5rem;
      font-weight: 300;
      letter-spacing: -0.2px;
      line-height: 2.4rem;

      .cm-hr {
        border-top: thin solid var(--theme-border);
        display: block;
        height: 1px;
        overflow: hidden;
        width: 100%;
      }

      .cm-header {
        display: inline-block;
        font-weight: 700;
        letter-spacing: 0.2px;
        padding-bottom: .9rem;
        padding-top: .9rem;
      }

      .cm-header-1 {
        font-size: 2.8rem;
        line-height: 3.6rem;
      }

      .cm-header-2 {
        font-size: 2.4rem;
        line-height: 3.0rem;
      }

      .cm-header-3 {
        font-size: 1.9rem;
        line-height: 2.8rem;
      }

      .cm-header-4 {
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 2.5rem;
      }

      .cm-comment {
        background: rgba(0, 0, 0, 0.05);
        border-radius: 2px;
      }

      .cm-strong {
        font-weight: 800;
      }

      .cm-link {
        color: var(--color-blue);
      }

      .cm-url {
        color: var(--color-gray-30);
      }

      .cm-formatting-header {
        color: var(--color-gray-20);
      }

      .cm-formatting-list-ul {
        color: var(--color-gray-20);
        line-height: 2rem;
        margin-right: .9rem;
      }

      .cm-formatting-list-ol {
        color: var(--color-gray-20);
        line-height: 2rem;
        margin-right: .9rem;
      }

      .cm-formatting-quote {
        border-left: 3px solid var(--color-gray-20);
        padding: 0 0 0 8px;
      }

      .cm-strikethrough {
        text-decoration: line-through;
      }

      .CodeMirror-placeholder {
        opacity: 0.5;
      }

      .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
        background: rgba(255, 0, 0, 0.15);
      }
    }
  }
}
