.document-menu {
  --document-menu-width: auto;
  --document-menu-heading: var(--color-gray-5);
  --document-menu-btn-hover: var(--color-gray-5);
  @media (prefers-color-scheme: dark) {
    --document-menu-heading: var(--color-gray-90);
    --document-menu-btn-hover: var(--color-gray-80);
  }
  position: relative;
  margin: 0;
  text-align: center;
  // width: var(--document-menu-width);
  z-index: 10;

  &__button {
    // Format icon
    .icon {
      border: thin solid var(--color-gray-40);
      @media (prefers-reduced-motion: no-preference) {
        transition: transform 0.1s ease-out;
      }
    }
    @media (hover: hover) {
      &:hover:not([disabled]) {
        .icon {
          background-color: var(--color-gray-2);
        }
      }
    }
    &[aria-expanded="true"] {
      .icon {
        background-color: var(--color-gray-15);
        border-color: transparent;
      }
      @media (hover: hover) {
        &:hover:not([disabled]) {
          .icon {
            background-color: var(--color-gray-15);
          }
        }
      }
    }
  }

  &__content {
    background-color: var(--theme-surface);
    border: thin solid var(--theme-border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    bottom: var(--gutter-width);
    // max-height: 200px;
    overflow: auto;
    position: absolute;
    width: var(--document-menu-width);
    &[hidden] {
      display: block;
      opacity: 0;
      transform: translateY(50px);
      visibility: hidden;
      @media (prefers-reduced-motion: no-preference) {
        transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out, visibility 0s linear 0.2s;
      }
    }
    &:not([hidden]) {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
      @media (prefers-reduced-motion: no-preference) {
        transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
      }
    }
  }

  &__group {
    border-bottom: thin solid var(--theme-border);
    padding: .7rem 0;
    text-align: left;
    &:last-child {
      border: none;
    }
  }

  &__group-name {
    display: block;
    font-family: var(--type-sans-serif);
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
    padding: 0 1.4rem;
    width: 100%;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list-item {
    .btn {
      font-size: 1.5rem;
      font-weight: 300;
      justify-content: flex-start;
      padding: 0 1.4rem;
      width: 100%;
    }
    .btn--with-icon {
      .icon {
        margin-right: 8px;
        svg {
          height: 26px;
          width: 26px;
        }
      }
    }
    .btn--blank {
      @media (hover: hover) {
        &:hover {
          background-color: var(--document-menu-btn-hover);
        }
      }
    }
  }

}
