<%- include('../partials/head', { title: title, permalink: permalink, robots: 'noindex, nofollow' }); %>
<main class="section">
  <div class="container">
    <h1 class="title">Main app</h1>
    <p>You are in the main app editor now</p>
  </div>
</main>
<%- include('../partials/foot'); %>


