@import 'CSS/inc/_vars.scss';
@import 'CSS/inc/_mixins.scss';

$horizontalPadding: 1.3%;

.project-list-container {
  --project-width-min: 200px;
  --project-width-max: 300px;
  --project-border-color: var(--color-gray-5);
  --project-actions-color: var(--color-gray-4);
  @media (prefers-color-scheme: dark) {
    --project-border-color: var(--color-gray-9);
    --project-actions-color: var(--color-gray-9);
  }
  display: flex;
  flex: 1;
  flex-direction: column;

  .project-list {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    list-style: none;
    margin: 0;
    padding: 2rem 0;

    &__empty-state {
      align-items: center;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: flex-start;
      padding: 4rem 0;
      text-align: center;
    }

    &__empty-state-content {
      border: thin dashed var(--project-border-color);
      border-radius: $borderRadius;
      padding: 6rem 2rem;
      width: 80%;
    }

    &__item {
      background-color: var(--base-background);
      border: thin solid var(--project-border-color);
      border-radius: $borderRadius;
      display: flex;
      flex-direction: column;
      outline: 0;
      position: relative;
      &:hover {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.02);
      }
      &:active {
        box-shadow: none;
      }
      &:focus-within {
        border: thin solid var(--focus-border-color);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.02);
        .using-mouse & {
          border: none;
        }
      }
    }

    &__link {
      align-items: center;
      border: thin solid transparent;
      color: var(--base-color);
      display: flex;
      flex: 1;
      justify-content: space-between;
      outline: none;
      padding: 1rem 2rem 1rem 1rem;
      text-decoration: none;
      &:focus {
        border: thin solid var(--focus-border-color);
        color: var(--base-link-color);
        .using-mouse & {
          border: thin solid transparent;
          color: var(--base-color);
        }
      }
    }

    &__title-container {
      h3 {
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
      }
      .note {
        color: var(--color-gray-7);
      }
    }

    &__title {
      align-items: center;
      display: flex;
      flex: 1;
      margin: 0 0 0;
      text-decoration: none;
    }

    &__icon {
      margin-right: 1rem;
    }

    &__team {
      align-items: center;
      display: flex;
    }

    &__team-title {
      color: var(--color-gray-6);
      font-size: 1.2rem;
      font-weight: 500;
      margin: 0 1rem 0 0;
    }

    // The actions and other info under the __info section
    &__actions {
      background-color: var(--project-actions-color);
      align-items: center;
      display: flex;
      justify-content: flex-end;
      padding: 0 1rem;
      a, button {
        font-size: 1.2rem;
        margin-left: 1rem;
      }
      .btn--with-circular-icon {
        border: thin solid transparent;
        box-shadow: unset;
        outline: none;
        .icon {
          border: thin solid transparent;
        }
        &:focus {
          .icon {
            border: thin solid var(--color-blue);
          }
        }
      }
    }

  }
}
