@import 'CSS/inc/_vars.scss';
@import 'CSS/inc/_mixins.scss';

$horizontalPadding: 1.3%;

.project-list-container {
  --project-width-min: 200px;
  --project-width-max: 300px;

  .project-list {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    list-style: none;
    margin: 0;
    padding: 2rem 0;

    &__item {
      background-color: var(--base-background);
      border: thin solid $gray-light;
      border-radius: $borderRadius;
      outline: 0;
      position: relative;
    }

    &__info {
      align-items: center;
      color: var(--base-color);
      display: flex;
      justify-content: space-between;
      padding: 2rem;
      text-decoration: none;
    }

    &__link {
      align-items: center;
      display: flex;
      text-decoration: none;
    }

    &__icon {
      margin-right: 1rem;
    }

    &__title {
      // color: var(--base-color);
      margin: 0 0 0;
    }

    &__team {
      align-items: center;
      display: flex;
    }

    &__team-title {
      color: $gray;
      font-size: 1.2rem;
      font-weight: 500;
      margin: 0 1rem 0 0;
    }

    // The actions and other info under the __info section
    &__actions {
      background-color: $gray-light;
      align-items: center;
      display: flex;
      justify-content: flex-end;
      padding: 0 1rem;
      a, button {
        font-size: 1.2rem;
        margin-left: 1rem;
      }
    }

  }
}
