@import 'CSS/inc/_vars.scss';
@import 'CSS/inc/_mixins.scss';

.project-list-container {

  .project-list {
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
      background-color: $white;
      outline: 0;
      &:hover, &:focus {
        background-color: $white-ter;
      }
    }

    // The icon, title, and last updated part
    // The part that is visible without focusing on an item
    &__info {
      align-items: center;
      display: flex;
      padding: 12px 12px 12px 0;
      .icon-project {
        background-size: 100%;
        margin-right: 12px;
      }
      .project-list__item--disabled {
        opacity: 20%;
      }
    }
    &__title {
      color: $black-bis;
      margin: 0 0 7px;
    }
    &__item-meta {
      margin: 0;
      padding: 0;
    }

    // The actions and other info under the __info section
    &__actions {
      align-items: center;
      border-top: thin solid $gray-light;
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
      padding: 12px 12px 12px 0;

      .btn--blank {
        color: $action;
      }

      .btn--warning {
        color: $warning;
        flex: 1;
        text-align: left;
      }

      .btn {
        margin-right: 18px;
        &:last-child {
          margin-right: 0;
        }
      }

    }

  }
}
