@import 'CSS/inc/_vars.scss';
@import 'CSS/inc/_mixins.scss';

.project-list-container {

  .project-list {
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
      background-color: $white;
      margin-bottom: 6px;
      outline: 0;
      &--disabled {
        opacity: .2;
      }
    }

    &__info {
      @include focus(transparent);
      // The icon, title, and last updated part
      // The part that is visible without focusing on an item
      // This is going to get an outline when its parent is focused (keyboard only)
      .focus-content {
        align-items: center;
        display: flex;
        padding: 12px 12px 12px 0;
        .icon-project {
          background-size: 100%;
          margin-right: 12px;
        }
      }
    }
    &__title {
      color: $black-bis;
      margin: 0 0 7px;
    }
    &__item-meta {
      margin: 0;
      padding: 0;
    }

    // The actions and other info under the __info section
    &__actions {
      align-items: center;
      border-top: thin solid $gray-light;
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
      padding: 12px 12px 12px 0;

      &[hidden] {
        display: none;
      }

      .btn--blank {
        color: $action;
      }

      .btn--warning {
        color: $warning;
        flex: 1;
        text-align: left;
      }

      .btn {
        margin-right: 18px;
        &:last-child {
          margin-right: 0;
        }
      }

    }

  }
}
