.admin-payment {
  &__method {
    align-items: center;
    display: flex;
    margin-bottom: 2rem;
  }
  &__card-image {
    display: block;
    margin-right: 2rem;
  }
  // &__card-type {
  // }
  &__card-ending-in {
    padding-left: 2rem;
  }
  &__card-ending {
    font-weight: 700;
    padding: 0 2rem 0 .5rem;
  }
  &__card-expiration {
    font-weight: 700;
    padding: 0 0 0 .5rem;
    &--soon {
      color: var(--color-red, red);
    }
  }

  .field-container__hidden {
    display: none;
  }

  // Specific field__control for this component
  .field__control {
    &--card {
      width: 180px;
    }
    &--expiry {
      width: 180px;
    }
    &--cvc {
      width: 60px;
    }
    &--postal {
      width: 75px;
    }
    &--state {
      width: 50px;
    }
    &--country {
      width: 300px;
    }
    &--submit {
      input {
        margin-right: 1rem;
      }
    }
  }

  .validation {
    margin: 1rem 0;
    padding: 5px;
  }

}
