@import 'CSS/inc/_vars.scss';
@import 'CSS/inc/_mixins.scss';

.documents-list {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    border-top: thin solid $white-ter;
    transition: opacity 0.2s ease-in-out;
    // New item is a fake list item
    &--new {
      .documents-list__button {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 10px;
        .btn--with-circular-icon {
          padding: 0;
          .icon {
            background-color: $white-ter;
            height: 30px;
            margin-right: 0;
            width: 30px;
          }
        }
      }
      .documents-list__name {
        background-color: transparent;
        flex: 1;
        line-height: 1em;
        outline: none;
        padding-bottom: 0;
        padding-top: 8px;
        resize: none;
      }
      &:focus {
        background-color: $white-bis;
      }
    }
  }
  &__button {
    align-items: flex-start;
    flex-direction: column;
    padding: $sideGutterWidth / 4;
    white-space: normal;
    width: 100%;
    &.active {
      background-color: $white-bis;
      &:focus {
        background-color: $white-bis;
      }
    }
  }
  &__name {
    border: 0;
    color: $black-ter;
    padding-bottom: $sideGutterWidth / 4;
    .active & {
      color: $black-bis;
    }
  }
  &__date {
    align-items: center;
    color: $gray;
    display: flex;
    .active & {
      color: $gray-dark;
    }
    .icon {
      height: 16px;
      margin-right: 6px;
      width: 16px;
      g {
        stroke: $gray;
      }
    }
  }

  // When we're creating a new document, override the active styling
  // that may exist if we were looking at a document when clicking New
  &--creating {
    .documents-list__item {
      opacity: 0.2;
      &--new {
        background-color: $white-bis;
        opacity: 1;
      }
    }
    .documents-list__button {
      &.active {
        background-color: transparent;
        .documents-list__name {
          color: $black-ter;
        }
      }
    }
  }

}
