@import 'CSS/inc/_vars.scss';
@import 'CSS/inc/_mixins.scss';

.documents-list {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    border-top: thin solid $white-ter;
    transition: opacity 0.2s ease-in-out;
    // New item is a fake list item
    &--new {
      &:focus {
        background-color: $white-bis;
      }
    }
  }
  &__button {
    flex-direction: column;
    padding: $sideGutterWidth / 4;
    width: 100%;
    &.active {
      background-color: $white-bis;
      &:focus {
        background-color: $white-bis;
      }
    }
    .documents-list__item--new & {
      align-items: center;
      display: flex;
      flex-direction: row;
      height: 85.5px;
      justify-content: space-between;
      .btn--with-circular-icon {
        padding: 0;
        .icon {
          background-color: $white-ter;
          height: 30px;
          margin-right: 0;
          width: 30px;
        }
      }
    }
  }
  &__name {
    border: 0;
    color: $black-ter;
    padding-bottom: $sideGutterWidth / 4;
    .active & {
      color: $black-bis;
    }
    // the textarea we're typing in
    .documents-list__item--new & {
      flex: 1;
      line-height: 1em;
      outline: none;
      padding: 24px 0;
      resize: none;
    }
  }
  &__date {
    align-items: center;
    color: $gray;
    display: flex;
    .active & {
      color: $gray-dark;
    }
    .icon {
      height: 16px;
      margin-right: 6px;
      width: 16px;
      g {
        stroke: $gray;
      }
    }
  }

  // When we're creating a new document, override the active styling
  // that may exist if we were looking at a document when clicking New
  &--creating {
    .documents-list__item {
      opacity: 0.2;
      &--new {
        background-color: $white-bis;
        opacity: 1;
      }
    }
    .documents-list__button {
      &.active {
        background-color: transparent;
        .documents-list__name {
          color: $black-ter;
        }
      }
    }
  }

}
