@import 'CSS/inc/_vars.scss';
@import 'CSS/inc/_mixins.scss';

:root {
  --document-list-active-item: #{$white-bis};
  --document-list-item-hover: #{rgba($white-ter, .2)};
  --document-list-item-new: #{rgba($white-ter, .2)};
  --document-list-item-color: #{$black-ter};
  @media (prefers-color-scheme: dark) {
    --document-list-active-item: #{$black-er};
    --document-list-item-new: #{rgba($black-ter, .2)};
    --document-list-item-hover: #{rgba($black-ter, .2)};
    --document-list-item-color: #{$white-ter};
  }
}

.documents-list {
  min-height: 100%;

  &--dragged-over {
    background-color: var(--document-list-item-hover);
    .documents-list__drag-notice {
      display: block;
      pointer-events: none;
    }
    .documents-list__item {
      filter: blur(4px);
      opacity: 0.3;
      pointer-events: none;
    }
  }

  &__drag-notice {
    display: none;
    left: 50%;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    border-top: thin solid var(--base-border-color);
    transition: opacity 0.2s ease-in-out;
    &--active {
      .btn {
        background-color: var(--document-list-active-item);
      }
    }
    // New item is a fake list item
    &--new {
      .documents-list__button {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 10px;
        .btn--with-circular-icon {
          padding: 0;
          .icon {
            // background-color: $white-ter;
            // height: 30px;
            margin-right: 0;
            // width: 30px;
          }
        }
      }
      .documents-list__name {
        background-color: transparent;
        flex: 1;
        line-height: 1em;
        outline: none;
        padding-bottom: 0;
        padding-top: 8px;
        resize: none;
      }
      &:focus {
        background-color: var(--document-list-active-item);
      }
    } // new
  }
  &__button {
    align-items: flex-start;
    flex-direction: column;
    padding: $sideGutterWidth / 4;
    white-space: normal;
    width: 100%;
    &:not([disabled]) {
      &:hover {
        background-color: var(--document-list-item-hover);
      }
    }
    &.active {
      background-color: var(--document-list-active-item);
      &:not([disabled]) {
        &:hover {
          background-color: var(--document-list-active-item);
        }
      }
      &:focus {
        background-color: var(--document-list-active-item);
      }
    }
  }
  &__name {
    border: 0;
    color: var(--document-list-item-color);
    padding-bottom: $sideGutterWidth / 4;
    .active & {
      color: var(--document-list-item-color);
    }
  }
  &__date {
    align-items: center;
    color: $gray;
    display: flex;
    .active & {
      color: $gray-dark;
    }
    .icon {
      height: 16px;
      margin-right: $iconMargin;
      width: 16px;
      g {
        stroke: $gray;
      }
    }
  }

  // When we're creating a new document, override the active styling
  // that may exist if we were looking at a document when clicking New
  &--creating {
    .documents-list__item {
      opacity: 0.2;
      &--new {
        background-color: var(--document-list-item-new);
        opacity: 1;
      }
    }
    .documents-list__button {
      &.active {
        background-color: transparent;
        .documents-list__name {
          color: $black-ter;
        }
      }
    }
  }

}
