@import 'CSS/inc/_include-media.scss';

// Documents list is by itself on small screens, and then a sidebar on medium +
.project {
  padding: 0;
  position: relative;
  width: 100vw;

  @include media('>medium') {
    display: flex;
    flex-direction: row;
    overflow: unset;
  }
}

// List of documents on the left
.project__documents-list-container {
  border-right: thin solid var(--theme-border);
  display: flex;
  flex-direction: column;
  // height: calc(100vh - (var(--ribbon-height) + var(--header-height)));
  overflow: hidden;
  position: relative;
  transform: translate3d(0, 0, 0);
  width: 100vw;
  z-index: 1;
  -webkit-overflow-scrolling: touch;

  @media (prefers-reduced-motion: no-preference) {
    // Turn on animations for users with no preference
    transition: transform 0.2s ease-in-out;
  }

  @include media('>medium') {
    transform: translate3d(0, 0, 0);
    width: calc(var(--gutter-width) + 300px);
  }

  .documents-list {
    flex: 1 1 100%;
  }

}

// Document pane on the right
.project__document-container {
  background-color: var(--theme-surface);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // padding-bottom: 65px;
  transform: translate3d(0, 20px, 0);
  visibility: hidden;
  width: 100vw;
  z-index: 2;

  .document {
    flex: 1 1 100%;
  }

  &--list-only {
    transform: translate3d(0, 20px, 0);
    visibility: hidden;
  }

  &--document-only {
    // height: calc(100vh - (var(--ribbon-height) + var(--header-height)));
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  &--full-screen {
    height: 100vh;
  }

  @media (prefers-reduced-motion: no-preference) {
    // Turn on animations for users with no preference
    transition: transform 0.2s ease-out;
  }

  @include media('>medium') {
    flex: 1;
    padding-bottom: 0;
    transform: translate3d(0, 0, 0);
    width: auto;
  }

}

.project__footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
