@import 'CSS/inc/_include-media.scss';

// Documents list is by itself on small screens, and then a sidebar on medium +
.project {
  padding: 0;
  position: relative;
  width: 100vw;

  @include media('>medium') {
    display: flex;
    flex-direction: row;
    overflow: unset;
  }
}

// List of documents on the left
.project__documents-list-container {
  border-right: thin solid var(--base-border-color);
  display: flex;
  flex-direction: column;
  height: calc(100vh - (var(--ribbon-height) + var(--header-height)));
  // overflow-y: auto;
  // overscroll-behavior: contain;
  overflow: hidden;
  position: relative;
  transform: translate3d(0, 0, 0);
  width: 100vw;
  z-index: 1;
  -webkit-overflow-scrolling: touch;

  @media (prefers-reduced-motion: no-preference) {
    // Turn on animations for users with no preference
    transition: transform 0.2s ease-in-out;
  }

  @include media('>medium') {
    transform: translate3d(0, 0, 0);
    width: calc(var(--gutter-width) + 300px);
  }

  .documents-list {
    flex: 1 1 100%;
  }

  .project-toolbar {
    // flex: 0;
  }

}

// Document pane on the right
.project__document-container {
  background-color: var(--theme-surface);
  display: flex;
  flex-direction: column;
  height: calc(100vh - (var(--ribbon-height) + var(--header-height)) - 40px); // footer height
  left: 0;
  overflow-y: auto;
  overscroll-behavior: contain;
  padding-bottom: 65px;
  position: absolute;
  transform: translate3d(0, 20px, 0);
  top: 63px;
  visibility: hidden;
  width: 100vw;
  z-index: 2;
  &--list-only {
    transform: translate3d(0, 20px, 0);
    visibility: hidden;
  }
  &--document-only {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  &--full-screen {
    height: 100vh;
  }
  @media (prefers-reduced-motion: no-preference) {
    // Turn on animations for users with no preference
    transition: transform 0.2s ease-out;
  }
  @include media('>medium') {
    flex: 1;
    padding-bottom: 0;
    position: relative;
    top: auto;
    transform: translate3d(0, 0, 0);
    width: auto;
  }
}

// @todo delete?
  // &__utilities {
  //   bottom: calc(var(--gutter-width) / 2);
  //   display: flex;
  //   justify-content: center;
  //   position: absolute;
  //   width: 100%;

  //   &-button-pill {
  //     align-items: center;
  //     background-color: var(--theme-surface);
  //     border-radius: var(--border-radius);
  //     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.02);
  //     display: flex;
  //     padding: 0;
  //   }

  //   &-settings-link {
  //     align-items: center;
  //     color: var(--color-gray-10);
  //     display: inline-flex;
  //     font-size: 1.2rem;
  //     height: 30px;
  //     padding: .25rem 1rem .25rem .5rem;
  //     text-decoration: none;
  //     @media (hover: hover) {
  //       &:hover {
  //         background-color: var(--base-border-color);
  //         color: var(--color-gray-10);
  //       }
  //     }
  //   }

  //   &-button {
  //     border-right: thin solid var(--base-border-color);
  //     min-height: auto;
  //     font-size: 1.2rem;
  //     font-weight: normal;
  //     height: 30px;
  //     margin: 0;
  //     padding: .25rem 1rem;
  //     &.active {
  //       background-color: var(--base-border-color);
  //     }
  //     @media (hover: hover) {
  //       &:hover {
  //         background-color: var(--base-border-color) !important;
  //       }
  //     }
  //   }

  // }
