@import 'CSS/inc/_include-media.scss';

// Documents list is by itself on small screens, and then a sidebar on medium +
.project {
  padding: 0;
  position: relative;
  width: 100vw;

  @include media('>medium') {
    display: flex;
    flex-direction: row;
    overflow: auto;
  }
}

/**
 * Document list on the left.
 * This is full screen on movile with the --list-only or --document-only classes
 * -------------------------------------------------------------------------------------------------
 */
.project__documents-list-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  transform: translate3d(0, 0, 0);
  width: 100vw;
  z-index: 1;
  -webkit-overflow-scrolling: touch;

  &--document-only {
    display: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    // Turn on animations for users with no preference
    transition: opacity 0.2s ease-in-out;
  }

  @include media('>medium') {
    border-right: thin solid var(--theme-border);
    transform: translate3d(0, 0, 0);
    width: calc(var(--gutter-width) + 300px);
  }

  .documents-list {
    flex: 1 1 100%;
  }

}

// Document pane on the right
.project__document-container {
  background-color: var(--theme-surface);
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  position: relative;
  transform: translate3d(0, 20px, 0);
  width: 100vw;
  z-index: 2;

  .document {
    flex: 1 1 100%;
  }

  &--list-only {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
    visibility: hidden;
  }

  &--document-only {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  @media (prefers-reduced-motion: no-preference) {
    // Turn on animations for users with no preference
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-out;
  }

  @include media('>medium') {
    padding-bottom: 0;
    transform: translate3d(0, 0, 0);
    width: auto;
  }

}

.project__footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
