@import 'CSS/inc/_vars.scss';

.project {
  padding: 0;

  .toolbar__start {
    padding-left: $sideGutterWidth / 4;
  }
  .toolbar__end {
    padding-right: $sideGutterWidth / 6;
  }

  &__documents {
    display: flex;
    &-list-container {
      border-right: thin solid $gray-light;
      height: calc(100vh - #{$ribbonHeight + $headerHeight});
      overflow-y: auto;
      overscroll-behavior: contain;
      width: calc(#{$sideGutterWidth} + 300px);
      -webkit-overflow-scrolling: touch;
    }
    &-document-container {
      // background-color: $white-bis;
      background: linear-gradient(0deg, rgba(249,250,250,1) 100%, rgba(255,255,255,1) 0%);
      flex: 1;
      height: calc(100vh - #{$ribbonHeight + $headerHeight});
      overflow-y: auto;
      overscroll-behavior: contain;
    }
  }
}
