@import 'CSS/inc/_vars.scss';

:root {
  --project-background: #{$white-bis};
  @media (prefers-color-scheme: dark) {
    --project-background: #{$black-bis};
  }
}

.project {
  padding: 0;

  .toolbar__start {
    padding-left: $sideGutterWidth / 4;
  }
  .toolbar__end {
    padding-right: $sideGutterWidth / 6;
  }

  &__documents {
    display: flex;
    &-list-container {
      border-right: thin solid var(--base-border-color);
      height: calc(100vh - #{$ribbonHeight + $headerHeight});
      overflow-y: auto;
      overscroll-behavior: contain;
      width: calc(#{$sideGutterWidth} + 300px);
      -webkit-overflow-scrolling: touch;
    }
    &-document-container {
      background-color: var(--project-background);
      flex: 1;
      height: calc(100vh - #{$ribbonHeight + $headerHeight});
      overflow-y: auto;
      overscroll-behavior: contain;
    }
  }
}
