@import 'CSS/inc/_mixins.scss';

.user-menu {
  --user-menu-banner-bg: var(--theme-overlay-dark);
  --user-menu-button-color: var(--theme-overlay-light);
  @media (prefers-color-scheme: dark) {
    --user-menu-button-color: var(--color-gray-30);
  }

  &__button {
    background-color: var(--user-menu-button-color);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 40px;
    border: thin solid var(--color-gray-30);
    border-radius: 50% 50%;
    display: block;
    height: 40px;
    margin: auto;
    overflow: hidden;
    text-indent: -9000px;
    width: 40px;

    @include focus(var(--user-menu-button-color), var(--color-blue));

    .body--network-offline & {
      border-color: var(--color-red);
    }

    @media (hover: hover) {
      &:not([disabled]):hover {
        background-color: var(--user-menu-button-color);
        border: thin solid var(--color-gray-60);
        .body--network-offline & {
          border-color: var(--color-red-darker);
        }
      }
    }
    &[aria-expanded="true"] {
      border: thin solid var(--color-blue);
      .body--network-offline & {
        border-color: var(--color-red-dark);
      }
      @media (hover: hover) {
        &:hover {
          border-color: var(--color-blue);
          .body--network-offline & {
            border-color: var(--color-red-dark);
          }
        }
      }
    }
  }

  .menu__header {
    background-color: var(--user-menu-banner-bg);
    padding: 1rem 1.4rem;
  }

  &__username {
    display: block;
    font-weight: 700;
  }
  &__organization {
    color: var(--color-gray-30);
  }
  &__link {
    background-color: transparent !important;
    color: var(--color-blue) !important;
    margin: 0 !important;
    padding: 4px 0 !important;
  }
}

.user-menu__network-status {
  background-color: var(--color-red);
  border-radius: var(--border-radius);
  color: rgba(255, 255, 255, 85%);
  font-size: 1.1rem;
  margin: 1rem 0 0;
  padding: .5rem;
}

.user-menu__network-dot {
  background: var(--color-red);
  border: thin solid var(--theme-overflow);
  border-radius: 50% 50%;
  bottom: 0;
  height: 12px;
  left: 0;
  position: absolute;
  width: 12px;
}

// /images/icon/user-avatar.svg
