@import 'CSS/inc/_mixins.scss';

.user-menu {
  &__dropdown {
    border-radius: 50% 50%;
  }
  &__button {
    background: url('/images/icon/user-avatar.svg') no-repeat 50% 50%;
    border-radius: 50% 50%;
    display: block;
    height: 40px;
    margin: auto;
    overflow: hidden;
    text-indent: -9000px;
    width: 40px;
    @include focus(transparent);
  }
  &__banner {
    background-color: $gray-light;
    padding: 8px 14px;
  }
  &__username {
    display: block;
    font-weight: 700;
  }
  &__organization {
    color: $gray-dark;
  }
  &__link {
    background-color: transparent !important;
    color: $action !important;
    margin: 0 !important;
    padding: 4px 0 !important;
  }
}

// /images/icon/user-avatar.svg
