<%- include('../partials/head', { title: title, permalink: permalink, robots: 'noindex, nofollow' }); %>
<main id="dashboard" class="section dashboard-container">
  <!-- Look at js/dashboard.js -->
</main>
<%- include('../partials/foot'); %>


