<%- include('../partials/head', { title: title, permalink: permalink, robots: 'noindex, nofollow' }); %>
<main class="section">
  <nav class="panel">
    <h1 class="panel-heading">Project Files</h1>
    <div class="panel-block">
      <div class="control has-icons-left">
        <input class="input is-small" type="text" placeholder="search">
        <span class="icon is-small is-left">
          <i class="fas fa-search" aria-hidden="true"></i>
        </span>
      </div>
    </div>
    <!-- /search -->
    <ol class="panel-tabs">
      <li><a class="is-active">all</a></li>
      <li><a>my projects</a></li>
    </ol>
    <ol>
      <li>
        <a class="panel-block is-active">
          <span class="panel-icon">
            <i class="fas fa-book" aria-hidden="true"></i>
          </span>
          Some project
        </a>
      </li>
    </ol>
  </nav>
  <div id="editor" class="editor"></div>
</main>
<%- include('../partials/foot'); %>


