@import 'inc/base';
@import 'layout/containers';

body {
  font-size: 0.75em;
}

p {
  font-size: 1em;
  line-height: 1.167em;
  margin: 0.417em 0;
}

label {
  font-weight: bold;
  text-transform: uppercase;
}
