@import 'inc/vars';
@import 'inc/color';
@import 'inc/theme';
@import 'inc/type';
@import 'layout/forms';

html, body {
  background: var(--theme-surface);
  color: var(--theme-text-color);
  &.home {
    background: var(--color-brand-light);
  }
}

.login-form {
  width: 400px;
  label {
    color: var(--theme-text-color);
  }
  .help {
    color: var(--color-brand-darker);
  }
}
