@import 'inc/vars';
@import 'inc/color';
@import 'inc/theme';
@import 'inc/type';
@import 'layout/forms';

html, body {
  background: var(--theme-surface);
  color: var(--theme-text-color);
  &.home {
    background: var(--color-brand-light);
  }
}

.login-form {
  // Overwrite root CSS vars for the homepage
  --focus-border-color: var(--color-brand-darker);
  --focus-shadow-one: var(--color-gray-5);
  --focus-shadow-two: var(--color-brand);
  width: 400px;
  label {
    color: var(--theme-text-color);
  }
  .help {
    color: var(--color-gray-2);
    font-size: small;
  }
}
