@import 'inc/include-media';
@import 'inc/vars';
@import 'inc/color';
@import 'inc/type';
@import 'inc/buttons';
@import 'layout/forms';

html, body {
  background: var(--theme-surface);
  color: var(--theme-text-color);
}

a, .link {
  color: var(--color-blue);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  @media (hover: hover) {
    &:hover {
      color: var(--color-blue-dark);
    }
  }
  &:active {
    color: var(--color-blue-darker);
  }
}

.section {
  padding: 4rem 0;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 1200px;
  padding: 6rem 0 2rem;
  width: 75%;
  @include media('>medium') {
    width: 100%;
  }
}

form {
  background-color: var(--theme-base);
  border: thin solid var(--theme-border);
  border-radius: var(--border-radius);
  margin-bottom: 4rem;
  padding: 2rem;
  width: calc(var(--field-container-width) + 4rem);

  @include media('>medium') {
    padding: 4rem;
    width: auto;
  }

  .user-security-fields {
    margin: auto;
    width: var(--field-container-width);
    .field-container {
      margin: 0 auto 1.8rem;
    }
  }
}

.sign-up {
  display: flex;
  flex-direction: column-reverse;
  @include media('>=768px') {
    flex-direction: row;
    margin: 4rem 0 4rem 0;
  }
}
.sign-up__features {
  flex: 1;
  padding-right: 6rem;
}
.sign-up__form {
  form {
    margin-bottom: 0;
    padding: 2rem 2rem 1rem 2rem;
  }
  .small {
    margin: 0;
  }
}

.card__title {
  font-weight: 500;
}
.card__action {
  align-items: center;
  display: flex;
}
.card__price {
  font-weight: bold;
  font-size: 3.2rem;
  padding-right: .6rem;
}

.feature-list {
  list-style: none;
  padding: 0;

  li {
    align-items: center;
    display: flex;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.2rem;

    &:before {
      background-image: url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjExIiB2aWV3Qm94PSIwIDAgMTYgMTEiIHdpZHRoPSIxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtNS42Mjk3NzA0MSAxMS45NjQzNDIyLTQuNDI2NjExODQtNC40MjY2MTE4OGMtLjE3MzU2NjM1LS4xNzM1NjYzNS0uNDU0OTczMDEtLjE3MzU2NjM1LS42Mjg1MzkzNiAwcy0uMTczNTY2MzUuNDU0OTczMDEgMCAuNjI4NTM5MzZsNC43NDA4ODg4OSA0Ljc0MDg4ODkyYy4xNzM1NjkyMy4xNzM1NjkyLjQ1NDk4MTU2LjE3MzU2NTkuNjI4NTQ2NzItLjAwMDAwNzRsOS40ODEzMzMzOC05LjQ4MTc3Nzc3Yy4xNzM1NjIyLS4xNzM1NzA0Mi4xNzM1NTU2LS40NTQ5NzcwOC0uMDAwMDE0OC0uNjI4NTM5MzYtLjE3MzU3MDQtLjE3MzU2MjI5LS40NTQ5NzcxLS4xNzM1NTU2OS0uNjI4NTM5My4wMDAwMTQ3M3oiIGZpbGw9IiM2YWNhNjUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAtMikiLz48L3N2Zz4=');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      content: '';
      display: block;
      height: 16px;
      margin-right: 1rem;
      width: 16px;
    }
  }
}

.registration__newsletter {
  background: var(--theme-overlay-light);
  border-radius: var(--border-radius);
  margin: 2rem 2rem 2rem 2rem;
  padding: 1rem 1rem;

  &-label {
    border-bottom: thin solid var(--theme-overlay-dark);
    display: block;
  }

  .field-container {
    margin: .5rem 0 0;
    label {
      font-weight: 300;
    }
  }
}

footer {
  padding: 0 0 10rem 0;
  text-align: center;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    margin-right: 1rem;
    &:last-child {
      margin: 0;
    }
  }
}

[hidden] {
  display: none;
}
