@import 'inc/vars';
@import 'inc/fonts';

// Used for skeleton screen
@mixin background-gradient($baseColor, $shineColor) {
  background-image: linear-gradient(90deg, $baseColor 0px, $shineColor 40px, $baseColor 80px);
}

:root {
  color-scheme: light dark;
  --base-background: #{$white};
  --base-color: #{$black-bis};
  --base-border-color: #{$gray-light};
  --base-link-color: #{$action};
  --base-link-hover-color: #{$action-light};
  --base-link-active-color: #{$action-dark};
  --link-color-gray: #{$gray-dark};
  @media (prefers-color-scheme: dark) {
    --base-background: #{$black-bis};
    --base-color: #{$white};
    --base-border-color: #{$black-er};
    --base-link-color: #{$action};
    --base-link-hover-color: #{$action-light};
    --base-link-active-color: #{$action-dark};
    --link-color-gray: #{$gray};
  }
}

* {
  box-sizing: border-box;
}

/* Base body */
html, body {
  font-family: $sansSerif;
  font-size: 62.5%; // base font
  overscroll-behavior-y: none;
}
body {
  background-color: var(--base-background);
  color: var(--base-color);
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0;
}

/* Base text */
a, .link {
  color: $action;
  &:hover {
    color: lighten($action, 20%);
  }
  &:active {
    color: darken($action, 20%);
  }
}

$animationDuration: 1.6s;

.skeletons {
  --skeleton-color: #{$gray-light};
  @media (prefers-color-scheme: dark) {
    --skeleton-color: #{$black-er};
  }
  .skeleton {
    background-color: var(--skeleton-color);
    border-radius: $borderRadius;
    height: 1.6rem;
    margin: .5rem 0;
    position: relative;
    &:after {
      display: block;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .2), transparent);
      animation: loading 1.5s infinite;
    }
  }

  .projects {
    display: flex;
  }

}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
