@import 'inc/vars';
@import 'inc/color';
@import 'inc/theme';
@import 'inc/type';
@import 'layout/forms';

body.home {
  background: var(--color-brand-light);
}

.login-form {
  width: 400px;
}

.control {
  align-items: center;
  display: flex;
}

div[role="alert"] {
  padding: 8px;
  p {
    color: var(--color-red);
    font-size: 1.2rem;
  }
  ul {
    color: var(--color-gray-60);
    list-style: disc;
    margin: .5rem 1rem;
    padding: 1rem;
    li {
      font-size: 1.2rem;
    }
  }
}

.field__status {
  display: none;
  padding-left: 1rem;
  svg {
    path {
      fill: $primary;
    }
  }
}

[hidden] {
  display: none;
}
