@import 'CSS/animations/_rotateAndScale.scss';

.navigator {
  --navigator-width: 300px;
  --navigator-placeholder-width: 56px;
  position: relative;

  .btn {
    .icon {
      height: 24px;
      width: 24px;
    }
    .label {
      font-size: 1.7rem;
      font-weight: 500;
    }
    &[aria-expanded="true"] {
      .icon {
        animation-fill-mode: forwards;
        animation-duration: 0.2s;
        animation-timing-function: ease;
        animation-name: rotateAndScale;
        background-color: var(--color-gray-50);
        svg {
          path {
            fill: var(--color-gray-5);
          }
        }
      }
    }
  }

  &__empty-item {
    color: var(--color-gray-5);
    padding: 1rem;
    a {
      text-decoration: underline;
    }
  }

  &__project-btn {
    color: var(--color-gray-5);
    &:not([disabled]) {
      &:hover,
      &:active {
        color: var(--color-gray-10);
      }
    }
  }

  // Overwriting some values from _menu.scss
  .menu {
    padding: 0;
    width: var(--navigator-width);
    &__item {
      align-items: center;
      border-top: thin solid rgba(255, 255, 255, .03);
      display: flex;
      font-size: 1.3rem;
      padding: 4px 10px;
      @media (hover: hover) {
        &:hover {
          background-color: rgba(255, 255, 255, .03);
        }
      }
      &--is-focused {
        background-color: var(--color-blue);
        @media (hover: hover) {
          &:hover {
            background-color: var(--color-blue-dark);
          }
        }
      }
      .icon {
        flex: 1;
        margin-right: var(--icon-margin);
      }
    }
  }

  &__settings {
    color: var(--color-white);
    font-size: 1rem;
  }

  // The React Select container
  &__select {
    background-color: transparent;
    padding: 0;

    // Overriding React-Select styles (fuck you Emotion!)
    // We're doing some specific stuff here to center the input
    // value, and using a fixed width of $placeholderWidth to position
    // the initial cursor placement at the beginning of the placeholder word
    .react-select {
      &__control {
        background-color: transparent;
        border-radius: 0;
        border: none;
        color: var(--color-gray-5);
        margin: 0;
        min-height: unset;
        &--is-focused {
          border: none;
          box-shadow: unset;
        }
      }
      &__input {
        color: var(--color-gray-5);
        display: block !important;
        text-align: center;
        min-width: var(--navigator-placeholder-width);
        input {
          caret-color: var(--color-blue);
          position: relative;
          z-index: 2;
          min-width: var(--navigator-placeholder-width);
        }
      }
      &__value-container {
        display: flex;
        justify-content: center;
        padding: 0;
      }
      &__placeholder {
        color: var(--color-gray-10);
        text-align: center;
        z-index: 1;
      }
      &__indicator-separator {
        display: none;
      }
      &__indicator {
        display: none;
      }
      &__menu {
        background-color: transparent;
        box-shadow: unset;
        margin: 0;
        padding: 0;
        position: relative;
      }
      &__menu-list {
        padding: 0;
      }
      &__option {
        background-color: transparent !important; // I hate React-Select
        cursor: pointer;
        padding: 6px 0;
        &--is-focused {
          background-color: transparent;
        }
        &--is-selected {
          background-color: var(--color-gray-10);
        }
      }
    }
  }
}
