@import 'CSS/layout/_menu.scss';
@import 'CSS/animations/_rotateAndScale.scss';

$navigatorWidth: 300px;

.navigator {
  align-items: center;
  border-right: thin solid $gray-light;
  display: flex;
  height: $sideGutterWidth;
  width: $navigatorWidth;
  .btn {
    transition: transform 0.2s ease-out;
    will-change: transform, opacity;
    &[aria-expanded="true"] {
      .icon {
        animation-fill-mode: forwards;
        animation-duration: 0.2s;
        animation-timing-function: ease;
        animation-name: rotateAndScale;
      }
    }
  }
  .menu {
    background-color: $black-ter;
    left: -52px;
    top: 69px;
    width: $navigatorWidth;
    .react-select-container {
      background-color: $black-ter;
      .react-select {
        &__control {
          background-color: $black-ter;
          border: thin solid $black-bis;
        }
        &__menu {
          background-color: $black-ter;
          border-top: thin solid $black-bis;
        }
        &__option {
          color: $white;
          &--is-focused {
            background-color: transparent;
          }
          &--is-selected {
            background-color: $black-bis;
          }
        }
      }
    }
  }
}
