<%- include('../partials/head', { title: title, permalink: permalink, robots: 'index, nofollow' }); %>
<%- include('../partials/navigation'); %>
<main class="section">
  <div class="container">
    <h1 class="title">Reset your password</h1>
    <%- include('../partials/login', { emailOnly: true, button: 'Reset my password' }); %>
    <p>
      <a href="/sign-up">Sign up</a> <a href="/sign-in/password-reset">Forgot password</a>
    </p>
  </div>
</main>
<%- include('../partials/foot'); %>


