<%- include('../partials/head', { title: title, permalink: permalink, robots: 'index, nofollow' }); %>
<main>
  <div class="container">
    <img src="/images/logo.svg" alt="Portway Logo" width="85" />
    <h2>Reset your password</h2>
    <form class="login-form" action="" method="post">
      <div class="field-container">
        <div class="field">
          <label class="label is-small" for="email">Email</label>
          <div class="field__control">
            <input id="email" class="input" type="email" name="email" placeholder="email@domain.com"
              autocomplete="section-login username">
          </div>
        </div>
      </div>
      <div class="field-container field-container--with-space">
        <div class="field field--centered">
          <input type="submit" class="button" value="Reset your password">
        </div>
      </div>
    </form>
  </div>
</main>
<%- include('../partials/footer', {
  privacyLink: options.privacyLink,
  supportLink: options.supportLink,
  termsLink: options.termsLink,
  websiteLink: options.websiteLink,
}); %>
<%- include('../partials/foot'); %>


