<%- include('../partials/head', { title: title, permalink: permalink, robots: 'index, nofollow' }); %>
<main>
  <div class="container">
    <img src="/images/logo.svg" alt="Portway Logo" width="85" />
    <h2>Reset your password</h2>
    <%- include('../partials/login', { emailOnly: true, button: 'Reset my password' }); %>
  </div>
</main>
<%- include('../partials/footer'); %>
<%- include('../partials/foot'); %>


