<%- include('../partials/head', { title: title, permalink: permalink, robots: 'index, nofollow' }); %>
<%- include('../partials/navigation'); %>
<main class="section">
  <div class="container">
    <h1 class="title">Verifying your registration...</h1>
    <p>Check your email for a link to complete your registration.</p>
  </div>
</main>
<%- include('../partials/foot'); %>
