<%- include('../partials/head', { title: title, permalink: permalink, robots: 'index, nofollow' }); %>
<main>
  <div class="container">
    <img src="/images/logo.svg" alt="Portway Logo" width="85" />
    <h1 class="title">Verifying your registration...</h1>
    <p>Check your email for a link to complete your registration.</p>
  </div>
</main>
<%- include('../partials/footer', { supportLink: options.supportLink }); %>
<%- include('../partials/foot'); %>
