<%- include('../partials/head', { title: title, permalink: permalink, robots: 'index, nofollow' }); %>
<main>
  <div class="container">
    <img src="/images/logo.svg" alt="Portway Logo" width="85" />
    <h2>Create your free account</h2>
    <p>Start your <b>free, 30-day trial</b> now. <b>No credit card required.</b></p>
    <% if (typeof disableSignup !== 'undefined' && disableSignup === true) { %>
      <p>Registration is currently disabled</p>
    <% } else { %>
      <%- include('../partials/sign-up'); %>
    <% } %>
  </div>
</main>
<%- include('../partials/footer'); %>
<%- include('../partials/foot'); %>


