<%- include('../partials/head', { title: title, permalink: permalink, robots: 'index, nofollow' }); %>
<%- include('../partials/navigation'); %>
<main class="section">
  <div class="container">
    <h1 class="title">Log in</h1>
    <%- include('../partials/login', { flash: flash }); %>
    <p class="help">
      <a href="/">Sign up</a> <a href="/sign-in/password-reset">Forgot password</a>
    </p>
  </div>
</main>
<%- include('../partials/foot'); %>


