@import 'CSS/inc/_vars.scss';

.user-security {

  &__password-score {
    meter { width: 250px; }
    meter[value="1"]::-webkit-meter-optimum-value { background: $danger; }
    meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
    meter[value="3"]::-webkit-meter-optimum-value { background: $warning; }
    meter[value="4"]::-webkit-meter-optimum-value { background: $primary; }

    meter[value="1"]::-moz-meter-bar { background: $danger; }
    meter[value="2"]::-moz-meter-bar { background: yellow; }
    meter[value="3"]::-moz-meter-bar { background: $warning; }
    meter[value="4"]::-moz-meter-bar { background: $primary; }
  }

}
