@import 'vars';
@import 'mixins';
@import 'include-media';
@import 'type';
@import 'code';
@import 'lists';
@import 'icons';
@import 'buttons';
@import 'hacks';
@import 'react-select';

* {
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior-y: none;
}
body {
  background-color: var(--theme-surface);
  color: var(--theme-text-color);
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0;
}

a, .link {
  color: var(--color-blue);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  @media (hover: hover) {
    &:hover {
      color: var(--color-cyan);
    }
  }
  &:active {
    color: var(--color-blue-dark);
  }

  &--gray {
    color: var(--link-color-gray);
    text-decoration: none;
    @media (hover: hover) {
      &:hover {
        color: var(--color-gray-6);
      }
    }
    &:active {
      color: var(--color-gray-8);
    }
  }

  // Back links for top of pages
  &--back {
    align-items: center;
    color: var(--link-color-gray);
    display: flex;
    // margin-bottom: 2rem;
    padding: 8px 7px 8px 0;
    text-decoration: none;
    .icon {
      height: 18px;
      margin-right: 6px;
      transform: rotate(90deg);
      width: 18px;
    }
  }

}

input, textarea {
  background: var(--theme-surface);
  border: thin solid var(--base-border-color);
  color: var(--theme-text-color);
}

hr {
  border: none;
  border-top: thin solid var(--base-border-color);
}

meter {
  // -webkit-appearance: none; // fixes chrome / opera
  // -moz-appearance: none;
  // appearance: none;
  background: var(--color-gray-5); // Firefox
  border-radius: var(--border-radius);
  display: block;
  margin: .25rem 0 1rem 0;
  width: 100%;

  // Safari
  &::-webkit-meter-bar {
    background: var(--color-gray-5);
    border-radius: var(--border-radius);
  }
  &::-webkit-meter-optimum-value,
  &::-webkit-meter-suboptimum-value,
  &::-webkit-meter-even-less-good-value {
    border-radius: var(--border-radius);
  }
  &::-webkit-meter-optimum-value {
    background: var(--color-green);
  }
  &::-webkit-meter-suboptimum-value {
    background: var(--color-brand);
  }
  &::-webkit-meter-even-less-good-value  {
    background: var(--color-red);
  }

  // Firefox
  &::-moz-meter-bar {
    background: var(--color-gray-5);
    border-radius: var(--border-radius);
  }
  &:-moz-meter-optimum::-moz-meter-bar {
    background: var(--color-green);
  }
  &:-moz-meter-sub-optimum::-moz-meter-bar {
    background: var(--color-brand);
  }
  &:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: var(--color-red);
  }
}

[contenteditable] {
  &:focus {
    outline: none;
  }
}
