@import 'vars';
@import 'mixins';
@import 'include-media';
@import 'basics';
@import 'type';
@import 'code';
@import 'lists';
@import 'icons';
@import 'buttons';
@import 'hacks';
@import 'react-select';

/**
 * This is a base import for the main application
 * Use theme.scss for the website
 *
 */

* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  overscroll-behavior-y: none;
}
body {
  background-color: var(--theme-surface);
  color: var(--theme-text-color);
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0;
}

[role="application"] {
  overflow: hidden;
}

[hidden] {
  display: none !important;
}

a, .link {
  color: var(--color-blue);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  @media (hover: hover) {
    &:hover {
      color: var(--color-blue-dark);
    }
  }
  &:active {
    color: var(--color-blue-darker);
  }

  &--gray {
    color: var(--link-color-gray);
    text-decoration: none;
    @media (hover: hover) {
      &:hover {
        color: var(--color-gray-6);
      }
    }
    &:active {
      color: var(--color-gray-8);
    }
  }

  // Back links for top of pages
  &--back {
    align-items: center;
    color: var(--link-color-gray);
    display: flex;
    // margin-bottom: 2rem;
    padding: 8px 7px 8px 0;
    text-decoration: none;
    .icon {
      height: 18px;
      margin-right: 6px;
      transform: rotate(90deg);
      width: 18px;
    }
  }

}

[contenteditable] {
  &:focus {
    outline: none;
  }
}
