@import 'vars';
@import 'mixins';
@import 'include-media';
@import 'type';
@import 'code';
@import 'lists';
@import 'icons';
@import 'buttons';
@import 'hacks';
@import 'react-select';

* {
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior-y: none;
}
body {
  margin: 0;
  padding: 0;
}

a {
  color: $action;
  &:hover {
    color: lighten($action, 20%);
  }
  &:active {
    color: darken($action, 20%);
  }
}

[contenteditable] {
  &:focus {
    outline: none;
  }
}
