@import 'mixins';

.btn-group {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: calc(var(--gutter-width) / 2) 0;
  .btn {
    margin-right: 12px;
  }
  &--right-aligned {
    flex-direction: row-reverse;
  }
}

[role="button"] {
  cursor: pointer;
}

button,
.btn, .button {
  --button-color: var(--color-white);
  --button-white-background: var(--color-white);
  --button-white-border: var(--color-gray-20);
  --button-white-border-hover: var(--color-gray-15);
  --button-icon-background: var(--color-gray-6);
  --button-icon-hover: var(--color-gray-9);
  --button-icon-active: var(--color-gray-10);
  --button-icon-expanded: var(--color-gray-5);
  --button-label-expanded: var(--color-gray-30);
  @media (prefers-color-scheme: dark) {
    --button-color: var(--color-gray-90);
    --button-white-background: var(--theme-overlay-light);
    --button-white-border: var(--theme-overlay-dark);
    --button-white-border-hover: var(--color-gray-50);
    --button-icon-background: hsl(61, 1%, 41%);
    --button-icon-hover: hsl(61, 0%, 49%);
    --button-icon-active: var(--color-gray-90);
    --button-icon-expanded: var(--color-gray-90);
    --button-label-expanded: var(--color-gray-70);
  }
  align-items: center;
  background-color: var(--color-green);
  border-radius: var(--border-radius);
  border: thin solid transparent;
  color: var(--button-color);
  cursor: pointer;
  display: inline-flex;
  flex-wrap: wrap;
  font-family: var(--type-sans-serif);
  font-weight: 500;
  justify-content: center;
  margin: 0;
  min-height: 38px;
  padding: 0 37px;
  text-decoration: none;
  white-space: nowrap;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  p { margin: 0; }

  @include focus(var(--color-green));

  &:not([disabled]) {
    @media (hover: hover) {
      &:hover {
        background-color: var(--color-green-dark);
        color: var(--button-color);
      }
    }
    &:active {
      background-color: var(--color-green-darker);
      color: var(--button-color);
    }
  }

  &--small {
    font-size: 1.2rem;
    min-height: 24px;
    padding: 3px 24px;
    &.btn--with-icon {
      padding: 3px 18px;
      .icon {
        height: 12px;
        min-height: 12px;
        min-width: 12px;
        width: 12px;
      }
    }
  }

  &--primary {
    @include focus(var(--color-green), var(--color-green));
    background-color: var(--color-green);
    border: thin solid var(--color-green);
    &:not([disabled]) {
      @media (hover: hover) {
        &:hover {
          background-color: var(--color-green-light);
          color: var(--color-white);
        }
      }
      &:active {
        background-color: var(--color-green-dark);
        color: var(--color-white);
      }
    }
    &[aria-expanded="true"] {
      background-color: var(--color-green-dark);
    }
  }

  &--white {
    @include focus(var(--button-white-background), var(--button-white-border));
    background-color: var(--button-white-background);
    border: thin solid var(--button-white-border);
    color: inherit;
    &:not([disabled]) {
      @media (hover: hover) {
        &:hover {
          background-color: var(--button-white-background);
          border: thin solid var(--button-white-border-hover);
          color: inherit;
        }
      }
      &:active {
        background-color: var(--button-white-background);
        color: inherit;
      }
    }
    &[aria-expanded="true"] {
      background-color: var(--button-white-border-hover);
    }
  }

  &--blank, &--like-a-link {
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    padding: 0;
    @include focus(transparent);
    @media (hover: hover) {
      &:not([disabled]) {
        &:hover {
          background-color: transparent;
          border: thin solid transparent;
          box-shadow: none;
          color: inherit;
          outline: 0;

          .icon {
            opacity: 0.5;
          }

        }
      }
    }
    &:not([disabled]) {
      &:active {
        background-color: transparent;
        border: thin solid transparent;
        box-shadow: none;
        color: inherit;
        outline: 0;
      }
    }
  }

  &--like-a-link {
    color: var(--base-link-color);
    font-weight: 400;
    text-decoration: underline;
    &:not([disabled]) {
      &:hover, &:focus {
        color: var(--base-link-hover-color);
      }
      &:active {
        color: var(--base-link-active-color);
      }
    }
  }

  &--with-icon {
    align-items: center;
    display: inline-flex;
    padding: 0 10px 0 10px;
    .icon {
      .icon-caret {
        @media (prefers-reduced-motion: no-preference) {
          // Turn on animations for users with no preference
          transition: transform 0.2s ease-in-out;
        }
      }
    }
    .label {
      flex: 1;
      flex-wrap: nowrap;
      padding: 0 0 0 8px;
    }
    &[aria-expanded="true"] {
      .icon-caret {
        transform: rotate(-180deg);
      }
      .label {
        color: var(--color-gray-60);
      }
    }
  }

  &--with-circular-icon {
    align-items: center;
    display: inline-flex;
    .icon {
      background-color: var(--button-icon-background);
      border-radius: 50% 50%;
    }
    .label {
      flex: 1;
      flex-wrap: nowrap;
      padding: 2px 8px 2px 8px;
    }
    @media (hover: hover) {
      &:hover {
        &:not([disabled]) {
          .icon {
            background-color: var(--button-icon-hover);
          }
        }
      }
    }
    &:active {
      &:not([disabled]) {
        .icon {
          background-color: var(--button-icon-active);
        }
      }
    }
    &[aria-expanded="true"] {
      .icon {
        background-color: var(--button-icon-expanded);
      }
      .label {
        color: var(--button-label-expanded);
      }
    }
  }

  &--warning {
    color: var(--color-orange);
    @media (hover: hover) {
      &:not([disabled]) {
        &:hover {
          color: var(--color-orange-dark);
        }
      }
    }
  }

  &--danger {
    border-color: var(--color-red);
    color: var(--color-red);
    @media (hover: hover) {
      &:not([disabled]) {
        &:hover {
          border-color: var(--color-red-dark);
          color: var(--color-red-dark);
        }
      }
    }
  }

  // Button colors
  &--red {
    .icon {
      background-color: var(--color-red);
    }
    @media (hover: hover) {
      &:not([disabled]) {
        &:hover {
          .icon {
            background-color: var(--color-red-dark);
          }
        }
      }
    }
  }

  &--cyan {
    background-color: var(--color-cyan);
    @media (hover: hover) {
      &:not([disabled]) {
        &:hover {
          background-color: var(--color-cyan-dark);
        }
      }
    }
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.2;
  }

}
