@import 'vars';
@import 'mixins';

.btn-group {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: ($sideGutterWidth / 2) 0;
  .btn {
    margin-right: 12px;
  }
}

[role="button"] {
  cursor: pointer;
}

button,
.btn, .button {
  background-color: $action;
  border-radius: 4px 4px;
  border: thin solid transparent;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: $sansSerif;
  font-weight: 500;
  padding: 10px 37px;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
  will-change: transform;
  -webkit-appearance: none;

  @include focus($action);
  &:hover {
    background-color: $action-light;
  }
  &:active {
    background-color: $action-dark;
    color: #fff;
    transform: translateY(0);
  }

  &--white {
    background-color: $white;
    border: thin solid $gray-light;
    color: inherit;
    @include focus($white);
    &:hover {
      background-color: $white;
      border: thin solid $white-ter;
    }
    &:active {
      background-color: $white;
      color: inherit;
    }
    &[aria-expanded="true"] {
      background-color: $white-ter;
    }
  }

  &--blank {
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    padding: 0;
    @include focus(transparent);
    &:hover,
    &:active {
      background-color: transparent;
      border: thin solid transparent !important;
      box-shadow: none !important;
      color: inherit;
      outline: 0 !important;
    }
  }

  &--with-icon {
    align-items: center;
    display: inline-flex;
    padding: 0 12px 0 0;
  }

  &--with-circular-icon {
    align-items: center;
    display: inline-flex;
    padding: 0 12px 0 0;
    .icon {
      background-color: $white-bis;
      border-radius: 50% 50%;
      margin-right: 8px;
    }
    &:hover {
      .icon {
        background-color: $white-ter;
      }
    }
    &:active {
      .icon {
        background-color: $gray;
      }
    }
  }

  &--warning {
    color: $warning;
    &:hover {
      color: darken($warning, 20%);
    }
  }

}
