pre {
  --pre-background: var(--color-gray-80);
  --pre-color: var(--color-gray-10);
  --pre-comment-color: var(--color-gray-50);
  @media (prefers-color-scheme: dark) {
    --pre-background: var(--color-gray-90);
    --pre-color: var(--color-gray-10);
    --pre-comment-color: var(--color-gray-20);
  }
  background-color: var(--pre-background);
  color: var(--pre-color);
  direction: ltr;
  hyphens: none;
  margin: 0 0 2rem;
  overflow-x: scroll;
  padding: 2rem;
  tab-size: 2;
  white-space: pre;
  word-spacing: normal;

  &::-webkit-scrollbar {
    background: transparent;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  .code {
    word-wrap: break-word;
    // Command is Bash command
    &__command {
      &:before {
        color: var(--color-gray-3);
        content: '$ ';
      }
    }
    // Comments
    &__block-comment {
      color: var(--pre-comment-color);
      display: block;
    }
    // Code
    &__json {
      color: var(--color-white);
    }
  }
}
