:root {
  --pre-background: #{$black-bis};
  --pre-color: #{$gray};
  --pre-comment-color: #{$black-ter};
  @media (prefers-color-scheme: dark) {
    --pre-background: #{$black-er};
    --pre-color: #{$black-ter};
    --pre-comment-color: #{$gray-dark};
  }
}

pre {
  background-color: var(--pre-background);
  color: var(--pre-color);
  direction: ltr;
  hyphens: none;
  margin: 0 0 2rem;
  overflow-x: scroll;
  padding: 2rem;
  tab-size: 2;
  white-space: pre;
  word-spacing: normal;
  .code {
    word-wrap: break-word;
    // Command is Bash command
    &__command {
      &:before {
        color: $white-bis;
        content: '$ ';
      }
    }
    // Comments
    &__block-comment {
      color: var(--pre-comment-color);
      display: block;
    }
    // Code
    &__json {
      color: $white;
    }
  }
}
