@import 'vars';

// @todo - generally replace these with react components
.icon {
  align-items: center;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 50%;
  display: inline-flex;
  height: 24px;
  justify-content: center;
  width: 24px;

  // Any svg should be 12x12 when in a button with a circle
  .btn--with-circular-icon & {
    svg {
      height: 12px;
      width: 12px;
    }
  }

}
