@import 'vars';

.icon {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 50%;
  display: inline-block;
  height: 36px;
  width: 36px;

  &-add {
    background-image: url('/images/icon/add.svg');
  }

  &-caret-down {
    background-image: url('/images/icon/arrow-down.svg');
  }

  &-user {
    background-image: url('/images/icon/user.svg');
  }

  &-project {
    background-image: url('/images/icon/project.svg');
  }

}
