@import 'vars';

.icon {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 50%;
  display: inline-block;
  height: 36px;
  width: 36px;

  &-add {
    background-image: url('/images/icon/add.svg');
  }

  &-caret-down {
    background-image: url('/images/icon/arrow-down.svg');
  }

  &-caret-up {
    background-image: url('/images/icon/arrow-down.svg');
    transform: rotate(180deg);
  }

  &-user {
    background-image: url('/images/icon/user.svg');
  }

  &-filter {
    background-image: url('/images/icon/filter.svg');
  }

  &-sort-by {
    background-image: url('/images/icon/sort-by.svg');
  }

  &-project {
    background-image: url('/images/icon/project.svg');
  }

  &-menu-more {
    background-image: url('/images/icon/menu-more.svg');
  }
}
