@import 'vars';

:root {
  --focus-border-color: #{$action};
  --focus-shadow-one: #{$white-bis};
  --focus-shadow-two: #{$action-light};
  @media (prefers-color-scheme: dark) {
    --focus-border-color: #{$white};
    --focus-shadow-one: #{$black-bis};
    --focus-shadow-two: #{$action};
  }
}

@mixin focus($bgColor, $borderColor: transparent) {
  border-color: transparent;
  border: thin inset transparent;
  box-shadow: unset;
  outline: none;
  &:focus {
    background-color: $bgColor;
    border: thin solid var(--focus-border-color);
    box-shadow: inset 0 1px 2px var(--focus-shadow-one), 0 0 0 0.2em var(--focus-shadow-two);
    outline: none;
    > * { outline: none; }
    .using-mouse & {
      background-color: $bgColor;
      border: thin solid $borderColor;
      box-shadow: unset;
    }
  }
}
