@import 'CSS/inc/_vars.scss';
@import 'CSS/inc/_mixins.scss';

:root {
  --react-select-background: #{$white-bis};
  --react-select-border: #{$gray-light};
  --react-select-control-background: #{$white};
  --react-select-control-color: #{$black-bis};
  --react-select-placeholder-color: #{$gray};
  --react-select-option: #{$white-bis};
  --react-select-option-focused: #{$white-ter};
  --react-select-notice-background: #{$white-bis};
  @media (prefers-color-scheme: dark) {
    --react-select-background: #{$black-bis};
    --react-select-border: #{$black-er};
    --react-select-control-background: #{$black-er}; // like _forms.scss
    --react-select-control-color: #{$white-bis};
    --react-select-placeholder-color: #{$white-ter};
    --react-select-option: #{$black-bis};
    --react-select-option-focused: #{$black-ter};
    --react-select-notice-background: #{$black-bis};
  }
}

.react-select-button {
  background-color: var(--react-select-background);
  padding: 14px 0 0;
  min-width: 300px;
}

.react-select-container {
  min-width: 300px;
}

form {
  .react-select__input {
    input[type="text"]:focus {
      border: none;
      box-shadow: none;
      outline: none;
    }
  }
}

.react-select-container {
  .react-select {
    &__control {
      background-color: var(--react-select-control-background);
      border: thin solid var(--react-select-border);
      border-radius: $borderRadius;
      cursor: text;
      color: #fff;
      &--menu-is-open {
        border-radius: $borderRadius;
      }
      &--is-focused {
        border: thin solid $action;
        box-shadow: inset 0 1px 2px var(--react-select-background), 0 0 0 0.2em $action-light;
      }
    }
    // Text field
    &__input {
      outline: none;
      input {
        color: var(--react-select-control-color) !important;
        box-shadow: none;
        outline: none;
      }
    }
    &__indicators {
      display: none;
    }
    &__placeholder {
      color: var(--react-select-placeholder-color);
      + div {
        color: var(--react-select-control-color);
        outline: none;
      }
    }
    &__menu {
      border-radius: $borderRadius;
      margin: 2px 0 0;
    }
    &__menu-list {
      padding: 0;
    }
    // Notices, like "No options"
    &__menu-notice {
      background: var(--react-select-notice-background);
    }
  }
}

.react-select-button {
  .react-select {
    &__control {
      background-color: var(--react-select-control-background);
      // Mimic the inputs from _forms.scss
      border: thin solid var(--react-select-border);
      border-radius: $borderRadius;
      cursor: text;
      // When menuIsOpen == true, we format this to look like a list with an
      // autocomplete search at the top
      &--menu-is-open {
        margin: 0 12px 12px;
        border-radius: $borderRadius;
        &:hover {
          border-color: var(--react-select-border);
        }
        @include focus($action);
        + .react-select__menu {
          // border-top: none;
          border: none;
          border-top: thin solid var(--react-select-border);
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          box-shadow: none;
          margin: 0;
          position: relative;
          transition: none;
          // Override default .menu stuff
          &:not([hidden]) {
            box-shadow: none;
            transform: translateY(-1px);
          }
        }
        // Hide the down arrow when we have the menu open by default
        .react-select__indicators {
          display: none;
        }
      }
      &--is-focused {
        @include focus($action);
      }
    }
    &__placeholder {
      color: var(--react-select-placeholder-color);
      + div {
        color: var(--react-select-control-color);
        outline: none;
      }
    }
    // Text field
    &__input {
      outline: none;
      input {
        color: var(--react-select-control-color) !important;
      }
    }
    // Regular React Select menu (not auto-open)
    &__menu {}
    // React Select menu list
    &__menu-list {
      padding: 0;
    }
    // Notices, like "No options"
    &__menu-notice {
      background: var(--react-select-notice-background);
    }
    // React Select menu items
    &__option {
      // width: auto;
      background-color: var(--react-select-option);
      &--is-focused {
        background-color: var(--react-select-option-focused);
      }
      &--is-selected {
        background-color: $gray;
      }
    }
  }
}
