@import 'CSS/inc/_vars.scss';
@import 'CSS/inc/_mixins.scss';

.react-select-button {
  background-color: $white-bis;
  padding: 14px 0 0;
  min-width: 300px;
}

.react-select-container {
  min-width: 300px;
}

form {
  .react-select__input {
    input[type="text"]:focus {
      border: none;
      box-shadow: none;
      outline: none;
    }
  }
}

.react-select-container {
  .react-select {
    &__control {
      border: thin solid $gray-light;
      border-radius: $borderRadius;
      cursor: text;
      &--menu-is-open {
        border-radius: $borderRadius;
      }
      &--is-focused {
        border: thin solid $action;
        box-shadow: inset 0 1px 2px $white-bis, 0 0 0 0.2em $action-light;
      }
    }
    // Text field
    &__input {
      outline: none;
      input {
        box-shadow: none;
        outline: none;
      }
    }
    &__indicators {
      display: none;
    }
    &__placeholder {
      color: $gray;
      + div {
        outline: none;
      }
    }
    &__menu {
      border-radius: $borderRadius;
      margin: 2px 0 0;
    }
    &__menu-list {
      padding: 0;
    }
  }
}

.react-select-button {
  .react-select {
    &__control {
      // Mimic the inputs from _forms.scss
      border: thin solid $gray-light;
      border-radius: $borderRadius;
      cursor: text;
      // When menuIsOpen == true, we format this to look like a list with an
      // autocomplete search at the top
      &--menu-is-open {
        margin: 0 12px 12px;
        border-radius: $borderRadius;
        &:hover {
          border-color: $gray-light;
        }
        @include focus($action);
        + .react-select__menu {
          // border-top: none;
          border: none;
          border-top: thin solid $gray-light;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          box-shadow: none;
          margin: 0;
          position: relative;
          transition: none;
          // Override default .menu stuff
          &:not([hidden]) {
            box-shadow: none;
            transform: translateY(-1px);
          }
        }
        // Hide the down arrow when we have the menu open by default
        .react-select__indicators {
          display: none;
        }
      }
      &--is-focused {
        @include focus($action);
      }
    }
    &__placeholder {
      color: $gray;
      + div {
        outline: none;
      }
    }
    // Text field
    &__input {
      outline: none;
    }
    // Regular React Select menu (not auto-open)
    &__menu {}
    // React Select menu list
    &__menu-list {
      padding: 0;
    }
    // React Select menu items
    &__option {
      // width: auto;
      &--is-focused {
        background-color: $white-ter;
      }
      &--is-selected {
        background-color: $gray;
      }
    }
  }
}
