@import 'CSS/inc/_mixins.scss';

.react-select-button {
  background-color: var(--react-select-background);
  padding: 14px 0 0;
  min-width: 300px;
}

.react-select-container {
  // min-width: 300px;
}

// Reset some values that we're setting on inputs in _forms.scss when the input
// is inside of a react-select.
// We are setting the min-height of inputs to 38px in _forms.scss
form {
  .react-select__input {
    input[type="text"] {
      // min-height was causing an issue in Chrome and Firefox pushing the
      // react-select input down
      min-height: unset;
    }
    input[type="text"]:focus {
      border: none;
      box-shadow: none;
      outline: none;
    }
  }
}

.react-select-container {
  --react-select-background: var(--color-gray-10);
  --react-select-border: var(--color-gray-20); // this should match _forms
  --react-select-control-background: var(--color-white);
  --react-select-control-color: var(--theme-text-color);
  --react-select-placeholder-color: var(--color-gray-20); // this should match _forms
  --react-select-option: var(--color-gray-2);
  --react-select-option-focused: var(--color-gray-5);
  --react-select-option-selected: transparent;
  --react-select-notice-background: var(--color-gray-2);
  @media (prefers-color-scheme: dark) {
    --react-select-background: var(--theme-overlay-dark);
    --react-select-border: var(--color-gray-60);
    --react-select-control-background: var(--theme-overflow);
    --react-select-control-color: var(--theme-text-color);
    --react-select-placeholder-color: var(--color-gray-60);
    --react-select-option: var(--color-gray-10);
    --react-select-option-focused: var(--color-gray-8);
    --react-select-option-selected: transparent;
    --react-select-notice-background: var(--color-gray-10);
  }
}

.react-select-container {
  .react-select {
    &__control {
      background-color: var(--react-select-control-background);
      border: thin solid var(--react-select-border);
      border-radius: var(--border-radius);
      cursor: text;
      color: var(--react-select-control-color);
      max-height: 38px;
      min-height: 38px;
      &--menu-is-open {
        border-radius: var(--border-radius);
      }
      &--is-focused {
        border: thin solid var(--color-blue);
        box-shadow: none;
        // box-shadow: inset 0 1px 2px var(--react-select-background), 0 0 0 0.2em var(--color-cyan);
      }
    }
    &__value-container, &__single-value {
      color: var(--react-select-control-color);
    }
    // Text field
    &__input {
      outline: none;
      input {
        color: var(--react-select-control-color) !important;
        box-shadow: none;
        outline: none;
      }
    }
    &__placeholder {
      color: var(--react-select-placeholder-color);
      + div {
        color: var(--react-select-control-color);
        outline: none;
      }
    }
    &__menu {
      background-color: var(--react-select-control-background);
      border-radius: var(--border-radius);
      margin: 2px 0 0;
    }
    &__menu-list {
      padding: 0;
    }
    // Notices, like "No options"
    &__menu-notice {
      background: var(--react-select-notice-background);
    }
    // Options (list-items)
    &__option {
      &--is-selected {
        background: var(--react-select-option-selected);
        font-weight: 700;
      }
      &--is-focused {
        background: var(--react-select-background);
      }
    }
  } // react-select

  &--with-indicators {
    .react-select__control {
      cursor: default;
    }
    .react-select__indicators {
      display: block;
    }
  }

}

.react-select-button {
  .react-select {
    &__control {
      background-color: var(--react-select-control-background);
      // Mimic the inputs from _forms.scss
      border: thin solid var(--react-select-border);
      border-radius: var(--border-radius);
      cursor: text;
      // When menuIsOpen == true, we format this to look like a list with an
      // autocomplete search at the top
      &--menu-is-open {
        margin: 0 12px 12px;
        border-radius: var(--border-radius);
        @media (hover: hover) {
          &:hover {
            border-color: var(--react-select-border);
          }
        }
        @include focus(var(--color-blue));
        + .react-select__menu {
          // border-top: none;
          border: none;
          border-top: thin solid var(--react-select-border);
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          box-shadow: none;
          margin: 0;
          position: relative;
          transition: none;
          // Override default .menu stuff
          &:not([hidden]) {
            box-shadow: none;
            transform: translateY(-1px);
          }
        }
        // Hide the down arrow when we have the menu open by default
        .react-select__indicators {
          display: none;
        }
      }
      &--is-focused {
        @include focus(var(--color-blue));
      }
    }
    &__placeholder {
      color: var(--react-select-placeholder-color);
      + div {
        color: var(--react-select-control-color);
        outline: none;
      }
    }
    // Text field
    &__input {
      outline: none;
      input {
        color: var(--react-select-control-color) !important;
      }
    }
    // Regular React Select menu (not auto-open)
    // &__menu {}
    // React Select menu list
    &__menu-list {
      padding: 0;
    }
    // Notices, like "No options"
    &__menu-notice {
      background: var(--react-select-notice-background);
    }
    // React Select menu items
    &__option {
      // width: auto;
      background-color: var(--react-select-option);
      &--is-focused {
        background-color: var(--react-select-option-focused);
      }
      &--is-selected {
        background-color: var(--color-gray-6);
      }
    }
  }
}
