// Bulma var overrides
$size-small: 1.2rem;
$size-normal: 1.5rem;
$size-medium: 1.8rem;
$size-large: 2.4rem;

// Bulma base
@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/base/_all.sass';
// Bulma layout
@import 'bulma/sass/layout/section.sass';
// Bulma Elements
@import 'bulma/sass/elements/content.sass';
@import 'bulma/sass/elements/title.sass';
@import 'bulma/sass/elements/button.sass';
@import 'bulma/sass/elements/image.sass';
@import 'bulma/sass/elements/container.sass';
// @import 'bulma/sass/elements/form.sass';
@import 'bulma/sass/elements/other.sass';
// Bulma components
@import 'bulma/sass/components/navbar.sass';
@import 'bulma/sass/components/level.sass';
@import 'bulma/sass/components/message.sass';
@import 'bulma/sass/components/card.sass';
@import 'bulma/sass/layout/hero.sass';

// To help stay sane, look at the structure of the Bulma repo here for
// the correct import paths. It doesn't match their documentation site perfectly
// https://github.com/jgthms/bulma/tree/master/sass
@import 'vars';

// Links
a {
  color: $action;
  text-decoration: underline;
  &:hover {
    color: lighten($action, 20%);
  }
  &:active {
    color: $action-dark;
  }
  &:focus {
    color: lighten($action, 20%);
  }
}

// Navbar adjustments
.navbar-brand {
  .navbar-item {
    a {
      align-items: center;
      display: flex;
    }
  }
  .navbar-logo {
    background: url('/images/logo.svg') no-repeat 50% 50%;
    background-size: 30%;
    display: inline-block;
    height: $sideGutterWidth;
    width: $sideGutterWidth;
  }
}


// Bulma hero override
.hero {
  &.is-info {
    background-color: $primary-light;
    color: $black-ter;
    .title {
      color: $black-bis;
    }
  }
  .hero-body {
    > .container {
      padding: 0 64px;
    }
  }
}
.hero-head {
  background-color: $white;
  border-top: 6px solid $highlight;
  .home & {
    background-color: $primary-light;
  }
  .navbar {
    .home & {
      background-color: $primary-light;
    }
    .navbar-start,
    .navbar-brand {
      a {
        color: $primary;
        font-family: $serif;
      }
    }
  }
}

// Bulma button override
.button {
  background-color: $action;
  text-decoration: none;
  &:hover, &:focus {
    background-color: lighten($action, 10%);
  }
  &:active {
    background-color: $action-dark;
  }
  &.is-primary {
    background-color: $primary;
    &:hover, &:focus {
      background-color: lighten($primary, 10%);
    }
    &:active {
      background-color: $primary-dark;
    }
  }
}

.section {
  .container {
    padding: 0 64px;
  }
}

.field--with-space {
  padding-top: 24px;
}


