// Bulma var overrides
$size-small: 1.2rem;
$size-normal: 1.5rem;
$size-medium: 1.8rem;
$size-large: 2.4rem;

// Bulma base
@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/base/_all.sass';
// Bulma layout
@import 'bulma/sass/layout/section.sass';
// Bulma Elements
@import 'bulma/sass/elements/content.sass';
@import 'bulma/sass/elements/title.sass';
@import 'bulma/sass/elements/button.sass';
@import 'bulma/sass/elements/image.sass';
@import 'bulma/sass/elements/container.sass';
// @import 'bulma/sass/elements/form.sass';
@import 'bulma/sass/elements/other.sass';
// Bulma components
@import 'bulma/sass/components/navbar.sass';
@import 'bulma/sass/components/level.sass';
@import 'bulma/sass/components/message.sass';
@import 'bulma/sass/components/card.sass';
@import 'bulma/sass/layout/hero.sass';

// To help stay sane, look at the structure of the Bulma repo here for
// the correct import paths. It doesn't match their documentation site perfectly
// https://github.com/jgthms/bulma/tree/master/sass

// Links
a {
  color: var(--color-blue);
  text-decoration: underline;
  &:hover {
    color: var(--color-cyan);
  }
  &:active {
    color: var(--color-blue-dark);
  }
  &:focus {
    color: var(--color-cyan);
  }
}

// Navbar adjustments
.navbar-brand {
  .navbar-item {
    a {
      align-items: center;
      display: flex;
    }
  }
  .navbar-logo {
    background: url('/images/logo.svg') no-repeat 50% 50%;
    // background-size: 30%; // @todo do we need this with other people's logo?
    display: inline-block;
    height: var(--gutter-width);
    width: var(--gutter-width);
  }
}

.title {
  color: var(--base-color);
}
.navbar {
  background: var(--base-background);
}

// Bulma hero override
.hero {
  &.is-info {
    background-color: var(--color-brand-light);
    color: var(--color-gray-8);
    .title {
      color: var(--color-gray-10);
    }
  }
  .hero-body {
    > .container {
      padding: 0 64px;
    }
  }
}
.hero-head {
  background-color: var(--color-white);
  border-top: 6px solid var(--color-brand);
  .home & {
    background-color: var(--color-brand-light);
  }
  .navbar {
    .home & {
      background-color: var(--color-brand-light);
      border-bottom: none;
    }
    .navbar-start,
    .navbar-brand {
      a {
        color: var(--color-brand);
        font-family: var(--type-serif);
        .home & {
          color: var(--color-white);
        }
      }
    }
  }
}

// Bulma button override
.button {
  background-color: var(--color-blue);
  text-decoration: none;
  &:hover, &:focus {
    background-color: var(--color-cyan);
  }
  &:active {
    background-color: var(--color-blue-dark);
  }
  &.is-primary {
    background-color: var(--color-green);
    &:hover, &:focus {
      background-color: var(--color-green);
    }
    &:active {
      background-color: var(--color-green-dark);
    }
  }
}

.section {
  .container {
    padding: 0 64px;
  }
}

.field--with-space {
  padding-top: 24px;
}
