/* aleo-regular - latin */
@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  src: url('/css/fonts/aleo-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Aleo Regular'), local('Aleo-Regular'),
    url('/css/fonts/aleo-v2-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/css/fonts/aleo-v2-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/css/fonts/aleo-v2-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('/css/fonts/aleo-v2-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('/css/fonts/aleo-v2-latin-regular.svg#Aleo') format('svg'); /* Legacy iOS */
}
/* aleo-italic - latin */
@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  src: url('/css/fonts/aleo-v2-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Aleo Italic'), local('Aleo-Italic'),
    url('/css/fonts/aleo-v2-latin-italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/css/fonts/aleo-v2-latin-italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/css/fonts/aleo-v2-latin-italic.woff') format('woff'),
    /* Modern Browsers */ url('/css/fonts/aleo-v2-latin-italic.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('/css/fonts/aleo-v2-latin-italic.svg#Aleo') format('svg'); /* Legacy iOS */
}
/* aleo-700 - latin */
@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  src: url('/css/fonts/aleo-v2-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Aleo Bold'), local('Aleo-Bold'),
    url('/css/fonts/aleo-v2-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/css/fonts/aleo-v2-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/css/fonts/aleo-v2-latin-700.woff') format('woff'),
    /* Modern Browsers */ url('/css/fonts/aleo-v2-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('/css/fonts/aleo-v2-latin-700.svg#Aleo') format('svg'); /* Legacy iOS */
}

body {
  font-family: $sansSerif;
  font-size: 0.938em;
}

h1,
.h-first-level {
  color: $primary;
  font-family: $serif !important;
  font-size: 1.867em;
  font-weight: 700;
  line-height: 0.643em;
  letter-spacing: 0.003em;
  a {
    color: $primary;
    text-decoration: none;
  }
}

h2,
.h-second-level {
  font-family: $serif !important;
  font-size: 1.6em;
  font-weight: 700;
  line-height: 0.75em;
}

h3,
.h-third-level {
  font-family: $serif !important;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1em;
}

h6,
.h-sixth-level {
  font-family: $serif !important;
  font-size: 1em;
  font-style: italic;
  line-height: 1.2em;
}

.header--with-icon {
  align-items: center;
  display: flex;
}

p {
  font-size: 1em;
  line-height: 1.2em;
  padding: 1em 0;
}

.small {
  font-size: 0.75em;
  line-height: 1em;
  padding: 1em 0;
}

input,
textarea {
  font-family: $sansSerif;
}
