@import 'CSS/inc/_vars.scss';
@import 'CSS/inc/_mixins.scss';

.confirmation {
  --modal-alpha-bg: #{rgba(#fff, .8)};
  --confirmation-bg: var(--color-white);
  --confirmation-border: var(--color-gray-6);
  @media (prefers-color-scheme: dark) {
    --modal-alpha-bg: #{rgba(#3b3d3e, .8)};
    --confirmation-bg: var(--color-gray-9);
    --confirmation-border: var(--color-gray-8);
  }
  align-items: center;
  background: var(--modal-alpha-bg);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;

  .theme--salmon &, .theme--yellow & {
    background: var(--color-brand-light);
  }

  &__dialog {
    background-color: var(--confirmation-bg);
    border: thin solid var(--confirmation-border);
    border-radius: $borderRadius;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.02);
    padding: 24px;
    width: 50vw;
  }

  &__message {
    color: var(--color-gray-7);
  }
  &__actions {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
  }

  &__confirm {
    font-weight: 700;
  }

  &__cancel {
    color: var(--color-gray-7);
  }

  .highlight {
    color: var(--color-gray-10);
    font-weight: 700;
    &.danger {
      color: var(--color-red);
    }
    &.warning {
      color: var(--color-orange);
    }
  }

}
