.admin-user {
  --dt-background-color: var(--theme-base);

  &__back-btn {
    color: var(--color-blue);
    font-size: 1.2rem;
  }

  &__definition-list {
    dt {
      align-items: center;
      background-color: var(--dt-background-color);
      display: inline-flex;
      font-weight: 500;
      margin-bottom: 1px;
      padding: 1.5rem 1rem;
      width: 20%;
    }
    dd {
      display: inline-flex;
      flex: 1;
      padding: 0 1rem;
      width: 80%;
    }
  }

}
