@import 'CSS/inc/_include-media.scss';

.document-field__date {
  align-items: flex-start;
  cursor: default;
  display: flex;
  flex-direction: column;
  padding: .8rem;
  width: 100%;

  @include media('>medium') {
    align-items: center;
    flex-direction: row;
    padding: 0;
  }

  .react-datepicker {
    background-color: var(--theme-overlay-light);
    border-radius: var(--border-radius);
    border: thin solid var(--theme-border);
    box-shadow: var(--box-shadow);
    color: var(--theme-text-color);
    font-family: unset;
  }
  .react-datepicker-popper {
    z-index: 10;
  }
  .react-datepicker-wrapper {
    display: block;
  }
  .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle {
    border-top-color: var(--theme-overlay-light);
  }
  .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle::before {
    border-top-color: var(--theme-border);
  }
  .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
    border-bottom-color: var(--theme-border);
  }

  // Date
  .react-datepicker__header {
    background-color: var(--theme-overlay-dark);
    border-bottom: thin solid var(--theme-surface);
    padding: 1.2rem 1.6rem 0 1.6rem;

    &--time {
      padding: 1.2rem 1.6rem 1.2rem 1.6rem;
    }

  }
  .react-datepicker__navigation {
    top: 14px;
    &--previous {
      left: 14px;
    }
    &--next {
      right: 14px;
    }
  }
  .react-datepicker__month {
    margin: 1rem;
  }
  .react-datepicker__month-dropdown-container--select {
    padding: 1rem 0 0;
  }
  .react-datepicker__month-select {
    font-size: 1rem;
  }
  .react-datepicker__year-select {
    font-size: 1rem;
  }
  .react-datepicker__day-names {
    padding-top: 12px;
  }
  .react-datepicker__day-name {
    color: var(--color-gray-50);
    font-size: 1.2rem;
    width: 2.4rem;
    &:first-child { color: var(--color-red-dark); }
    &:last-child { color: var(--color-red-dark); }
  }
  .react-datepicker__day {
    border-radius: var(--border-radius);
    font-size: 1.2rem;
    padding: 4px;
    width: 2.4rem;
    &--weekend {
      color: var(--color-red-dark);
    }
    &--selected {
      background-color: var(--color-purple);
    }
  }
  .react-datepicker__day--outside-month {
    opacity: 0.2;
  }

  // Time
  .react-datepicker__time {
    background-color: var(--theme-surface);
  }
  .react-datepicker__time-container {
    .react-datepicker__time {
      .react-datepicker__time-box {
        ul.react-datepicker__time-list {
          li.react-datepicker__time-list-item {
            height: auto;
            font-size: 1.3rem;
            &--selected {
              background-color: var(--color-purple);
            }
          }
        }
      }
    }
  }
}

.document-field__date-field {
  align-items: center;
  display: flex;
}

.document-field__date-input-container {
  align-items: center;
  display: flex;
  @include media('>medium') {
    margin-right: var(--icon-margin);
    padding: 0;
  }
}

.document-field__date-button {
  margin-right: var(--icon-margin);
}

.document-field__date-label {
  margin-right: 1.3rem;
}

.document-field__date-time {
  position: relative;
  input {
    padding: 0;
    width: auto;
    &:invalid {
      border: none;
      box-shadow: none;
      color: var(--color-red);
      outline: none;
    }
  }
}
