@import 'CSS/inc/_include-media.scss';

// Field
.document-field--image {
  margin: 1.8rem 0;

  .document-field__content {
    align-items: center;
  }
}

// Actual component
.document-field__image {
  margin: 0;
  position: relative;

  // Override
  .document-field__settings-button {
    right: -1rem;
    position: absolute;
    top: -1rem;
    z-index: 7;
  }

  .file-uploader {
    &--dragged-over {
      border: thin dashed var(--theme-border);
    }
  }

  // Only show the edit button on hover of the whole field
  @media (hover: hover) {
    .document-field__edit-btn {
      display: none;
    }
    &:hover {
      .document-field__edit-btn {
        display: block;
      }
    }
  }

}

.document-field__image-container {
  min-height: 275px;
  position: relative;
}

.document-field__image-tag {
  border-radius: var(--border-radius);
  height: auto;
  max-height: 700px;
  max-width: 100%;
  min-width: 200px;
  // padding: calc(var(--icon-margin) * 2);
  width: 100%;

  &--empty {
    height: 250px;
    opacity: 0.3;
    width: 250px;

    @include media('>medium') {
      height: 200px;
      width: 400px;
    }
  }
}

.document-field__image {
  .file-uploader {
    justify-content: flex-end;
    @include media('>=medium') {
      justify-content: center;
    }
  }
}
