@import 'CSS/inc/_mixins.scss';

.document-field__image {
  width: 100%;

  img {
    height: auto;
    max-width: 100%;
  }

  form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}

.document-field__preview-image {
  opacity: 0.2;
}
