@import 'CSS/inc/_include-media.scss';

// Field
.document-field--image {
  margin: 1.8rem 0;

  .document-field__content {
    align-items: unset;
  }

}

// Actual component
.document-field__image {
  position: relative;

  // Override
  .document-field__settings-button {
    right: 1.75rem;
    position: absolute;
    bottom: 1.75rem;
    z-index: 5;
  }

  .file-uploader {
    border: thin solid var(--theme-overlay-dark);
  }

  // Only show the edit button on hover of the whole field
  @media (hover: hover) {
    .document-field__edit-btn {
      display: none;
    }
    &:hover {
      .document-field__edit-btn {
        display: block;
      }
    }
  }

}

.document-field__image-figure {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
}

.document-field__image-container {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;

  &--settings-mode {
    min-height: 300px;
    width: 100%;
  }
}

.document-field__image-details {
  left: 1.75rem;
  bottom: 1.75rem;
  position: absolute;
}

.document-field__image-tag {
  // background-color: var(--theme-overlay-light);
  border-radius: var(--border-radius);
  height: auto;
  max-height: 700px;
  max-width: 100%;
  min-width: 200px;
  padding: calc(var(--icon-margin) * 2);

  &--empty {
    height: 250px;
    opacity: 0.3;
    width: 250px;

    @include media('>medium') {
      height: 200px;
      width: 400px;
    }
  }

}
