<footer>
  <ul>
    <li><a href="<%= websiteLink %>">Portway</a></li>
    <li><a href="<%= privacyLink %>">Privacy</a></li>
    <li><a href="<%= termsLink %>">Terms of Service</a></li>
    <li><a href="<%= supportLink %>">Support</a></li>
  </ul>
</footer>
