<noscript>Your browser does not support Javascript. Javascript is a requirement for this application.</noscript>
  <% if (typeof vendor !== 'undefined') { %>
    <% vendor.forEach(function(bundle) { %>
      <% if (bundle) { %>
      <script type="text/javascript" src="/<%= bundle %>"></script>
      <% } %>
    <% }) %>
  <% } %>
  <% if (typeof js !== 'undefined') { %>
    <% js.forEach(function(bundle) { %>
      <% if (bundle) { %>
      <script type="text/javascript" src="/<%= bundle %>"></script>
      <% } %>
    <% }) %>
  <% } %>
</body>
</html>
