<footer>
  <ul>
    <li><a href="https://getportway.com/">Portway</a></li>
    <li><a href="https://getportway.com/privacy">Privacy</a></li>
    <li><a href="https://getportway.com/terms">Terms of Service</a></li>
    <li><a href="<%= supportLink %>">Support</a></li>
  </ul>
</footer>
