  <% vendor.forEach(function(bundle) { %>
    <% if (bundle) { %>
    <script type="text/javascript" src="/<%= bundle %>"></script>
    <% } %>
  <% }) %>
  <% js.forEach(function(bundle) { %>
    <% if (bundle) { %>
    <script type="text/javascript" src="/<%= bundle %>"></script>
    <% } %>
  <% }) %>
</body>
</html>
