<footer>
  <ul>
    <li><a href="https://getportway.com/">Portway</a></li>
    <li>Privacy</li>
    <li>Terms of Service</li>
    <li><a href="https://getportway.com/support">Support</a></li>
  </ul>
</footer>
