<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%- include('meta-tags', { robots: robots }); %>
  <% if (typeof css !== 'undefined') { %>
    <% css.forEach(function(bundle) { %>
    <% if (bundle) { %>
    <link rel="stylesheet" href="/<%= bundle %>" />
    <% } %>
    <% }) %>
  <% } %>
  <script>
    function bodyDragHandler(e) {
      e.preventDefault();
      return false
    }
    window.ondragover = bodyDragHandler
    window.ondrop = bodyDragHandler
  </script>
</head>
<body class="<% if (typeof permalink !== 'undefined') { %><%= permalink %><% } %>">
