<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%- include('meta-tags', { robots: robots }); %>
  <% if (typeof css !== 'undefined') { %>
    <% css.forEach(function(bundle) { %>
    <% if (bundle) { %>
    <link rel="stylesheet" href="/<%= bundle %>" />
    <% } %>
    <% }) %>
  <% } %>
</head>
<body class="<% if (typeof permalink !== 'undefined') { %><%= permalink %><% } %>">
