<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <%- include('meta-tags', { robots: robots }); %>
  <% if (typeof css !== 'undefined') { %>
    <% css.forEach(function(bundle) { %>
    <% if (bundle) { %>
    <link rel="stylesheet" href="/<%= bundle %>" />
    <% } %>
    <% }) %>
  <% } %>
  <link rel="preload" href="/css/fonts/aleo-v2-latin-700.woff" as="font">
  <link rel="preload" href="/css/fonts/aleo-v2-latin-regular.woff" as="font">
</head>
<body class="<% if (typeof permalink !== 'undefined') { %><%= permalink %><% } %>">
