<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%- include('meta-tags', { robots: robots }); %>
  <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/solid.js" integrity="sha384-6FXzJ8R8IC4v/SKPI8oOcRrUkJU8uvFK6YJ4eDY11bJQz4lRw5/wGthflEOX8hjL" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/fontawesome.js" integrity="sha384-Qmms7kHsbqYnKkSwiePYzreT+ufFVSNBhfLOEp0sEEfEVdORDs/aEnGaJy/l4eoy" crossorigin="anonymous"></script>
  <% if (typeof css !== 'undefined') { %>
    <% css.forEach(function(bundle) { %>
    <% if (bundle) { %>
    <link rel="stylesheet" href="/<%= bundle %>" />
    <% } %>
    <% }) %>
  <% } %>
</head>
<body class="<% if (typeof permalink !== 'undefined') { %><%= permalink %><% } %>">
