<form class="login-form" action="/sign-in" method="post">
  <div class="field-container">
    <div class="field">
      <label class="label is-small" for="email">Email</label>
      <div class="field__control">
        <input id="email" class="input" type="email" name="email" placeholder="email@domain.com" autocomplete="section-login username">
      </div>
    </div>
  </div>
  <% if (typeof url === 'string') { %>
    <input id="url" type="hidden" value="<%- url %>" name="url" />
  <% } %>
  <% if (flash) { %>
  <p class="flash flash--<%= flash.type %>"><%= flash.message %></p>
  <% } %>
  <div class="field-container field-container--with-space">
    <div class="field field--centered">
      <%
        if (typeof button === 'undefined') {
          var button = 'Sign in'
        }
      %>
      <input type="submit" class="button" value="<%= button %>">
    </div>
  </div>
</form>
<!-- /login -->
