<form class="login-form">
  <div class="field">
    <label class="label is-small" for="email">Email</label>
    <div class="control">
      <input class="input" type="email" name="email" placeholder="email@domain.com">
    </div>
  </div>
  <div class="field">
    <label class="label is-small" for="password">Password</label>
    <div class="control">
      <input class="input" name="password" type="password" placeholder="">
    </div>
  </div>
  <div class="field">
    <input type="submit" class="button is-primary" value="Log in">
  </div>
</form>
<!-- /login -->
