<form class="login-form" action="/sign-in" method="post">
  <div class="form-field">
    <div class="field">
      <label class="label is-small" for="email">Email</label>
      <div class="field__control">
        <input class="input" type="email" name="email" placeholder="email@domain.com" autocomplete="section-login username">
      </div>
    </div>
  </div>
  <% if (typeof emailOnly === 'undefined' || emailOnly !== true) { %>
  <div class="form-field">
    <div class="field">
      <label class="label is-small" for="password">Password</label>
      <div class="field__control">
        <input class="input" name="password" type="password" placeholder="" autocomplete="section-login current-password">
      </div>
    </div>
  </div>
  <% } %>
  <% if (flash) { %>
  <p class="flash flash--<%= flash.type %>"><%= flash.message %></p>
  <% } %>
  <div class="field field--with-space">
    <%
      if (typeof button === 'undefined') {
        var button = 'Sign in'
      }
    %>
    <input type="submit" class="button is-primary" value="<%= button %>">
  </div>
</form>
<!-- /login -->
