<header class="hero-head">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <h1 class="navbar-item">
          <a href="/">
            <span class="navbar-logo"></span>
            <span class="navbar-brand-name">Portway</span>
          </a>
        </h1>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <!-- <ol class="navbar-start list-blank">
          <li class="navbar-item"><a href="/">Home</a></li>
        </ol> -->
        <div class="navbar-end">
          <div class="navbar-item">
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
