<div class="hero-head">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <h1 class="navbar-item"><a href="/">Project Danger</a></h1>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <ol class="navbar-start list-blank">
          <li class="navbar-item"><a href="/">Home</a></li>
          <li class="navbar-item"><a href="/dashboard">Dashboard</a></li>
        </ol>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary" href="/sign-up">Sign up</a>
              <a class="button is-light" href="/sign-in">Sign in</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
