<%- include('../partials/head', { title: title, permalink: permalink, robots: 'noindex, nofollow' }); %>
<main id="application" role="application">
  <!-- Look at js/app.js -->
</main>
<%- include('../partials/foot'); %>


