<%- include('../partials/head', { title: title, permalink: permalink, robots: 'noindex, nofollow' }); %>
<div id="application" role="application">
  <!-- Look at js/app.js -->
</div>
<%- include('../partials/foot'); %>


