<%- include('../partials/head', { title: title, permalink: permalink, robots: 'noindex, nofollow' }); %>
<div id="application" role="application">
  <!-- Overwrittem by js/app.js -->
  <div>
    <header class="masthead" role="banner">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar__brand">
          <div class="navbar__icon">
            <span class="skeleton round"></span>
          </div>
        </div>
        <div class="navbar__content">
          <span class="skeleton line"></span>
        </div>
        <div class="navbar__misc"></div>
        <div class="navbar__user">
          <div class="navbar__icon">
            <span class="skeleton round"></span>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="logo">
        <svg height="135" viewBox="0 0 41 37" width="150" xmlns="http://www.w3.org/2000/svg">
          <g fill="none" fill-rule="evenodd" transform="translate(.591274)">
            <path class="logo-bg" d="m21.6868148.03767748c-7.7312903-.55129032-16.29387092 5.06258065-18.82548382 9.28161291-2.53096774 4.21870971-6.0867742 13.51677421 2.98354839 21.95451611 9.07064513 8.4374194 19.68935483 5.0164516 26.49967743-.3167742 7.5758064-5.9325806 15.8206451-29.03064514-10.657742-30.91935482" fill="#333"/>
            <path class="logo-p" d="m18.8217181 11.6863549c0-.5635484.056129-.9890323.1712903-1.3019355.1090323-.2951613.3616129-.53193547.7506452-.70354837.3612903-.15903226.9332258-.17935484 1.8083871-.07516129.7535483.12709677 1.4083871.34903226 1.9458064.65903226.8945161.516129 1.3480645 1.5625806 1.3480645 3.1109677 0 1.6745162-.4358064 2.7654839-1.2954838 3.2425807-.8745162.4851613-2.037742.7316129-3.4570968.7316129h-1.2716129zm9.0238709-2.14290322c-1.1074193-.82161291-2.2187096-1.32806452-3.3032258-1.50580646-1.0738709-.17548387-2.2083871-.28935483-3.3738709-.33870967-.2516129-.00967742-.6283871-.01483871-1.12-.01483871l-.1125807.00032258c-1.562258.00096774-2.8435484.47096774-3.3164516 1.20548387-.6467742-.67322581-1.7577419-1.01451613-3.3045161-1.01451613h-1.2535484c-.2651613 0-.48.21483871-.48.48v.58741935c0 .2583871.2041935.47032258.4625806.47967742.6458065.02354839 1.143871.11064516 1.48.25870968.3941936.17387097.6396775.40419359.7503226.70322579.1154839.3129032.1716129.7383871.1716129 1.3019355v12.5741935c0 .5635484-.0587097.991613-.1787097 1.3087097-.1154838.3048387-.3609677.5351613-.75.703871-.3325806.1441935-.8280645.2287097-1.4725806.2516129-.2587097.0090323-.4632258.2209677-.4632258.4796774v.5580645c0 .2651613.2148387.4803226.4796774.4803226l1.763871-.0003226c1.2993548-.0658064 2.2480645-.4077419 2.822258-1.016129.573871.6080645 1.5164517.95 2.8261291 1.016129h1.8064516c.2651613 0 .48-.2148387.48-.48v-.5577419c0-.2590323-.2058065-.4712903-.4648387-.4796774-.6567742-.0212903-1.1648387-.1012903-1.5103226-.2380645-.4035484-.1596775-.6580645-.3851613-.7777419-.6893549-.1245162-.3164516-.1851613-.7538709-.1851613-1.3370968v-5.12h1.242258c1.5067742 0 2.9619355-.1216129 4.3251613-.3609677 1.3735484-.2412903 2.5845162-.7958064 3.5996774-1.6483871 1.0374194-.8709677 1.541613-2.1090322 1.541613-3.7848387 0-1.7170968-.5509678-2.9609677-1.6848388-3.80290322z" fill="#fff"/>
          </g>
        </svg>
      </div>
    </main>
  </div>
  <!-- Overwrittem by js/app.js -->
</div>
<%- include('../partials/foot'); %>


