@import 'CSS/inc/_vars.scss';

.project-settings {
  &__container {
    display: flex;
    padding-top: $brandWidth / 2;
  }
  &__navigation {
    margin-right: $brandWidth;
    width: 20%;
    a {
      display: block;
      color: $black-bis;
      padding: 8px 7px;
      text-decoration: none;
      &.active {
        background-color: $gray;
        border-left: 2px solid $primary;
      }
    }
  }
  &__panel {
    flex: 1;
    section {
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
