@import 'CSS/inc/_vars.scss';

.project-settings {
  &__container {
    display: flex;
    padding-top: $brandWidth / 2;
  }
  &__navigation {
    margin-right: $brandWidth;
    width: 20%;
    a {
      display: block;
      color: $black-bis;
      padding: 8px 7px;
      text-decoration: none;
      &.active {
        background-color: $gray;
        border-left: 2px solid $primary;
      }
    }
  }
  &__panel {
    flex: 1;
    section {
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }

  // Section specific
  &__team {}
  &__teammate-field {
    justify-content: space-between;
    .react-select-container {
      flex: 1;
      margin-right: 16px;
    }
  }
  &__teammate-menu {
    margin-right: 16px;
    .menu {
      width: 500px;
    }
  }
  &__team-list {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  &__teammate {
    align-items: center;
    margin-bottom: 6px;
    &-name {
      align-items: center;
      display: flex;
      flex: 1;
      .icon {
        margin-right: $iconMargin;
      }
    }
    &-role {
      width: 200px;
    }
    &-is-you {
      background-color: $highlight;
      border-radius: $borderRadius;
      color: $white;
      font-size: 80%;
      margin-left: $iconMargin;
      padding: 1px 6px;
    }
  }

}
