.admin-organization {

  &__image {
    .icon, img {
      margin-right: 1rem;
    }

    // With a preview (image cropper)
    &--with-preview {
      flex-direction: column;

      img { margin: 0; }

    }

  }

}
