.admin-organization {

  &__avatar {
    border-radius: 50% 50%;
    display: block;
    overflow: hidden;
  }

  &__image {
    .icon, img {
      margin-right: 1rem;
    }

    // With a preview (image cropper)
    &--with-preview {
      flex-direction: column;

      img { margin: 0; }

    }

  }

}
