.project-toolbar {
  align-items: center;
  background-color: var(--theme-overlay-light);
  border-top: thin solid var(--base-border-color);
  display: flex;
  font-size: 1.2rem;
  min-height: 40px;
  padding: 0 calc(var(--gutter-width) / 4);
  z-index: 100;
}
