@import 'CSS/inc/_include-media.scss';

.project-toolbar {
  align-items: center;
  background-color: var(--theme-overlay-light);
  border-top: thin solid var(--theme-border);
  border-right: thin solid var(--theme-border);
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0 calc(var(--gutter-width) / 4);
  width: 100%;
  z-index: 100;

  @include media('>medium') {
    width: calc(var(--gutter-width) + 300px);
  }

  @media all and (display-mode: standalone) {
    height: 75px;
    padding: 0 calc(var(--gutter-width) / 4) 2rem;
  }
}

.project-toolbar__actions {
  font-size: 1.2rem;
}
