@import 'CSS/inc/_vars.scss';
@import 'CSS/inc/_mixins.scss';

.masthead {
  border-top: $ribbonHeight solid $highlight;
  height: $headerHeight + $ribbonHeight;

  .navbar {
    align-items: center;
    // border-bottom: thin solid $gray-light;
    border-bottom: thin solid var(--base-border-color);
    display: flex;

    // Brand area is top left, with logo
    &__brand {
      min-width: $sideGutterWidth;
      .navbar__logo {
        // the logo is a span with a background image applied from a database
        background-size: 30%;
        display: block;
        height: $sideGutterWidth;
        width: $sideGutterWidth;
      }
    }

    // The middle of the content
    &__content {
      align-items: center;
      flex: 1 0 auto;
      display: flex;
      height: $sideGutterWidth;
      justify-content: space-between;
      padding: 0 12px 0 0;
      .navbar-brand-name {
        margin: 0;
        a {
          @include focus(transparent);
        }
        // Default is our branding, we get a little special treatment
        &.default {
          margin-left: -10px;
        }
      }
    }

    &__misc {
      align-items: center;
      display: flex;
      font-size: 90%;
    }

    &__content-items {
      align-items: center;
      display: flex;
      flex: 1;
      height: $sideGutterWidth;
      padding-left: 16px;
      .icon {
        height: 24px;
        width: 24px;
      }
    }

    &__project-settings-link {
      align-items: center;
      color: var(--base-color);
      display: flex;
      height: $sideGutterWidth;
      padding: 0 1rem;
      text-decoration: none;
    }

    // The right-most area with user related functions
    &__user {
      align-items: center;
      border-left: thin solid var(--base-border-color);
      display: flex;
      height: $sideGutterWidth;
      justify-content: center;
      min-width: $sideGutterWidth;
    }
  } // navbar
}
