@import 'CSS/inc/_mixins.scss';
@import 'CSS/inc/_include-media.scss';

.masthead {
  border-top: var(--ribbon-height) solid var(--color-brand);
  height: calc(var(--header-height) + var(--ribbon-height));
  // position: sticky;
  // top: 0;
  z-index: 3;

  .navbar {
    align-items: center;
    border-bottom: thin solid var(--theme-border);
    display: flex;

    // Brand area is top left, with logo
    &__brand {
      min-width: var(--gutter-width);
      .navbar__logo {
        // the logo is a span with a background image applied from a database
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        border-radius: 50% 50%;
        display: block;
        height: 40px;
        margin: auto;
        width: 40px;
      }
    }

    // The middle of the content
    &__content {
      align-items: center;
      flex: 1 0 auto;
      display: flex;
      height: var(--gutter-width);
      justify-content: space-between;
      padding: 0 12px 0 0;
      .navbar-brand-name {
        margin: 0;
        a {
          @include focus(transparent);
        }
        // Default is our branding, we get a little special treatment
        &.default {
          margin-left: -10px;
        }
      }
    }

    &__misc {
      align-items: center;
      display: flex;
      font-size: 90%;
      padding-right: 1.6rem;
    }

    &__content-items {
      align-items: center;
      display: flex;
      flex: 1;
      height: var(--gutter-width);
      padding-left: 1.6rem;
      .icon {
        height: 24px;
        width: 24px;
      }
    }

    .pill {
      background-color: var(--theme-surface);
      border: thin solid var(--color-gray-20);
      color: var(--color-gray-40);
      font-size: 1.3rem;
      &--red {
        border: thin solid var(--color-brand);
        color: var(--color-brand);
      }
    }

    &__project-settings-link {
      align-items: center;
      color: var(--theme-text-color);
      display: flex;
      height: var(--gutter-width);
      padding: 0 1rem;
      text-decoration: none;
    }

    &__search {
      padding-right: 1.6rem;
      position: relative;
      z-index: 10;
      width: 200px;
    }

    // The right-most area with user related functions
    &__user {
      align-items: center;
      border-left: thin solid var(--theme-border);
      display: flex;
      // height: var(--gutter-width);
      justify-content: center;
      min-width: var(--gutter-width);
      z-index: 11;
    }
  } // navbar
}

.subhead {
  background-color: var(--color-green);
  align-items: center;
  display: flex;
  justify-content: center;

  a {
    color: #fff;
    display: block;
    padding: .4rem 0;
  }

  @include media('>medium') {
    display: none;
  }

}
