.toolbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 12px 0 12px;

  &__start {
    align-items: center;
    display: flex;
    .icon {
      height: 24px;
      width: 24px;
    }
  }
  &__end {
    align-items: center;
    display: flex;
  }

}
