.user-profile {
  &__image {
    align-items: flex-start;
    display: flex;

    .icon, img {
      margin-right: 1rem;
    }

    // With a preview (image cropper)
    &--with-preview {
      flex-direction: column;

      img { margin: 0; }

    }

    // Override the file field for this one
    .field-container{
      &--file {
        margin: 0;
      }
    }

  }
}
