.user-profile {
  &__image {
    align-items: flex-start;
    display: flex;

    .icon, img {
      margin-right: 1rem;
    }

    img {
      height: 40px;
      width: 40px;
    }

    // Override the file field for this one
    .form-field{
      &--file {
        margin: 0;
      }
    }

  }
}
