.admin-notices {
  &__notice {
    // border-bottom: thin solid var(--theme-border);
  }
  &__notice-title {
    align-items: center;
    display: flex;
    .icon {
      margin-right: .6rem;
    }
  }

  .--with-spinner {
    align-items: center;
    display: flex;
    .spinner {
      margin-left: .6rem;
    }
  }

}
