@import 'CSS/inc/_include-media.scss';

.admin-notices {

  &__notice {
    margin-bottom: 4rem;
  }

  &__notice-title {
    align-items: center;
    display: flex;
  }

  &__notice-title-content {
    flex: 1;
    h2 {
      margin: 0;
    }
    .note {
      margin: 0;
    }
  }

  .--with-spinner {
    align-items: center;
    display: flex;
    .spinner {
      margin-left: .6rem;
    }
  }

}
