@import 'CSS/inc/_include-media.scss';

.admin-notices {
  &__notice {
    // border-bottom: thin solid var(--theme-border);
  }
  &__notice-title {
    align-items: center;
    display: flex;
    .icon {
      display: none;
      margin-right: .6rem;
      @include media('>medium') {
        display: block;
      }
    }
  }

  &__notice-title-content {
    flex: 1;
    h2 {
      margin: 0;
    }
    .note {
      margin: 0;
    }
  }

  .--with-spinner {
    align-items: center;
    display: flex;
    .spinner {
      margin-left: .6rem;
    }
  }

}
