@import 'CSS/inc/_vars.scss';

:root {
  --content-menu-heading: #{$white-bis};
  --content-menu-btn-hover: #{rgba($white-ter, .2)};
  @media (prefers-color-scheme: dark) {
    --content-menu-heading: #{$black-er};
    --content-menu-btn-hover: #{rgba($black-ter, .2)};
  }
}

.content-menu {
  bottom: $sideGutterWidth;
  position: fixed;
  right: $sideGutterWidth / 2;
  z-index: 10;

  &__button {
    // Add icon
    .icon {
      height: 48px;
      transition: transform 0.1s ease-out;
      width: 48px;
      .icon-add {
        height: 18px;
        width: 18px;
      }
    }
    &[aria-expanded="true"] {
      .icon {
        background-color: $gray-dark;
        transform: rotate(45deg);
      }
    }
  }

  &__content {
    background-color: var(--base-background);
    border: thin solid var(--base-border-color);
    border-radius: $borderRadius;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.02);
    bottom: $sideGutterWidth;
    max-height: 200px;
    overflow: auto;
    position: absolute;
    right: $sideGutterWidth;
    width: 250px;
    &[hidden] {
      display: block;
      opacity: 0;
      transform: translateY(50px);
      transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out, visibility 0s linear 0.2s;
      visibility: hidden;
    }
    &:not([hidden]) {
      opacity: 1;
      transform: translateY(0);
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
      visibility: visible;
    }
  }

  &__group {
    &:first-child {
      .content-menu__group-name {
        border-top: none;
      }
    }
  }

  &__group-name {
    background-color: var(--content-menu-heading);
    border-bottom: thin solid var(--base-border-color);
    border-top: thin solid var(--base-border-color);
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 6px 12px;
    width: 100%;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item-button {
    font-size: 1.2rem;
    justify-content: flex-start;
    width: 100%;
    &.btn--with-icon {
      .label {
        flex: 0;
      }
    }
    &.btn--blank {
      &:hover {
        background-color: var(--content-menu-btn-hover);
      }
    }
  }

}
