@import 'CSS/inc/_include-media.scss';

/**
 * Document Field Tools
 * Tools is the left column of the editor that contains the dragger
 * -------------------------------------------------------------------------- */
.document-field__tools {
  align-items: center;
  display: flex;
  flex-direction: row;
  min-width: 2.4rem;
  position: relative;
  width: 2.4rem;
  z-index: 12;

  .document-users {
    position: sticky;
    top: 0;
  }

}

/**
 * Document Field Changes
 * This is the little popup message that shows up when the document has remote
 * changes from the sync server
 */
.document-field__changes {
  position: sticky;
  top: -1rem;
}
.document-field__changes-container {
  background-color: var(--color-gray-80);
  border: thin solid var(--color-gray-90);
  border-radius: 6px 6px;
  box-shadow: var(--box-shadow);
  margin-left: 2rem;
  padding: var(--icon-margin);
  width: 30rem;
  @include media('>medium') {
    width: 40rem;
  }
}
.document-field__changes-names {
  font-weight: 500;
}
.document-field__changes-message {
  color: rgba(255, 255, 255, 85%);
  font-size: 1.1rem;
}
.document-field__changes-options {
  .btn {
    color: var(--color-cyan);
    font-size: 1.1rem;
    margin-right: var(--icon-margin);
    &:first-child {
      color: var(--color-cyan-darker);
    }
    @media(hover: hover) {
      &:hover {
        color: var(--color-cyan-dark);
      }
    }
  }
}

/**
 * Document Field Actions
 * Actions is the right column of the editor that contains the delete button
 * or user faces
 * -------------------------------------------------------------------------- */
.document-field__actions {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 2.6rem;
  z-index: 2;

  .btn {
    margin: 0;
    visibility: hidden; // because Safari was clipping shit
  }

  &--visible {
    .btn {
      visibility: visible;
    }
  }

}



