@import 'CSS/inc/_vars.scss';
@import 'CSS/inc/_mixins.scss';

:root {
  --field-background: #{$white};
  --field-name-width: 150px;
  @media (prefers-color-scheme: dark) {
    --field-background: #{$black-bis};
  }
}

.document-field {
  background-color: var(--field-background);
  border: thin solid var(--base-border-color);
  border-bottom: none;
  cursor: grab;
  outline: 0;

  &:first-child {
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
  }

  &:last-child {
    border-bottom: thin solid var(--base-border-color);
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    margin-bottom: $sideGutterWidth;
  }

  &:focus, &:focus-within {
    border: thin solid $action;
    .using-mouse & {
      border: thin solid $gray;
    }
  }

  &--new {
    background-color: $white-bis;
    border: thin solid $gray;
    input, textarea, .CodeMirror {
      background-color: $white-bis;
    }
    .document-field__name {
      input {
        background-color: $primary-light;
        color: $primary-dark;
      }
    }
  }

  &--dragging {
    cursor: grabbing;
    opacity: 0.05;
    * {
      pointer-events: none;
    }
  }

  &--dragged-over {
    opacity: 0.5;
    * {
      pointer-events: none;
    }
  }

  &__component {
    align-items: stretch;
    display: flex;
  }

  &__name {
    align-items: flex-start;
    border-right: thin solid var(--base-border-color);
    display: flex;
    flex: 0 0 var(--field-name-width);
    flex-direction: column;
    justify-content: center;
    padding: .6rem;
    &-label {
      border-bottom: thin solid $gray-light;
      font-size: 1.1rem;
      margin-bottom: .5rem;
    }
    input {
      border: none;
      color: $gray-dark;
      font-family: $serif !important;
      font-size: 1.3rem; // 13px
      min-width: var(--field-name-width); // change this in DocumentFieldComponent.js as well
      outline: none;
      &::selection {
        background-color: lighten($action-light, 80%);
        color: $black-bis;
      }
      &:focus {
        background-color: darken($action-light, 20%);
      }
    }
  }

  &__tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__tool-options {
    visibility: hidden;
  }

  &:hover, &:focus, &:focus-within {
    .document-field__tool-options {
      visibility: visible;
    }
  }

}
