/**
 * Document Field Tools
 * Tools is the left column of the editor that contains the dragger
 * -------------------------------------------------------------------------- */
.document-field__tools {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 2.4rem;
  z-index: 12;

  .popper {
    margin-left: -12px;
    position: sticky;
    top: 6.4rem !important;
  }

  .popper--with-arrow {
    &:before { margin-left: -28px; }
    &:after { margin-left: -27px; }
  }

}

.document-field__focus-buttons {
  padding: 2rem;
}

.document-field__focus-button-group {
  display: flex;
  justify-content: flex-end;
  padding-top: 2rem;
  button {
    margin-left: var(--icon-margin);
  }
}

/**
 * Document Field Actions
 * Actions is the right column of the editor that contains the delete button
 * or user faces
 * -------------------------------------------------------------------------- */
.document-field__actions {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 2.6rem;
  z-index: 2;

  .btn {
    margin: 0;
    visibility: hidden; // because Safari was clipping shit
  }

  &--visible {
    .btn {
      visibility: visible;
    }
  }

}



