// Field settings show up for fields with settings
.document-field__settings {
  background-color: var(--theme-overlay-light);
  padding: .8rem 1.6rem;
  width: 100%;

  .form {
    .btn-group {
      padding: 0 0 .8rem;
    }
  }

} // document-field__settings

// This is set settings toggle button, turns to an X icon when in settings-mode
.document-field__settings-button {
  left: .8rem;
  position: absolute;
  top: .8rem;
  z-index: 1;
  .btn {
    @media (hover: hover) {
      &:not([disabled]) {
        .icon {
          background-color: var(--color-gray-70);
        }
      }
    }
  }
  .icon {
    background-color: var(--color-gray-80);
    path {
      fill: var(--color-gray-2);
    }
  }
}

// In settings mode we override some things
.document-field--settings-mode {
  .document-field__content {
    background-color: var(--theme-overlay-light);
    box-shadow: var(--box-shadow);
    padding: .8rem;
  }
  .document-field__settings-button {
    left: 1.6rem;
    top: 1.6rem;
  }
}


