@import 'CSS/inc/_vars.scss';
@import 'CSS/inc/_mixins.scss';

:root {
  --field-background: #{$white-bis};
  --field-name-width: 150px;
  @media (prefers-color-scheme: dark) {
    --field-background: #{$black-bis};
  }
}

.document-field {
  cursor: grab;
  outline: 0;

  &--text {
    margin: ($sideGutterWidth / 2) 64px;
    .document-field__component {
      flex-direction: column;
    }
    .document-field__tool-options {
      justify-content: center;
    }
  }

  &--image {
    margin: ($sideGutterWidth / 2) 32px;
    position: relative;
    .document-field__component {
      flex-direction: column;
    }
    .document-field__tools {
      bottom: 18px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
    }
    .document-field__tool-options {
      justify-content: center;
    }
  }

  &--number, &--string {
    background-color: var(--field-background);
    border: thin solid var(--base-border-color);
    border-bottom: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.02);
    margin: 0 24px;

    input {
      background-color: transparent;
      &::selection {
        // color: #fff;
      }
    }

    &:first-child {
      // border-top-left-radius: $borderRadius;
      // border-top-right-radius: $borderRadius;
    }

    &:last-child {
      border-bottom: thin solid var(--base-border-color);
      // border-bottom-left-radius: $borderRadius;
      // border-bottom-right-radius: $borderRadius;
      // margin-bottom: $sideGutterWidth;
    }

    &:focus-within {
      background-color: $white-bis;
    }

    // New data fields
    &--new {
      background-color: $primary-light;
      border: thin solid transparent;

      .document-field__name {
        border-right: thin solid lighten($primary-light, 4%);
      }

      &:focus-within {
        background-color: $primary-light;
      }
      input {
        background-color: $primary-light;
        &::selection {
          background-color: $primary;
          color: #fff;
        }
      }
    }

  } // string, number

  &--dragging {
    cursor: grabbing;
    opacity: 0.7;
    * {
      pointer-events: none;
    }
  }

  &--dragged-over {
    border: thin dashed $action;
    opacity: 0.5;
    * {
      pointer-events: none;
    }
  }

  &__component {
    align-items: stretch;
    display: flex;
  }

  &__name {
    align-items: flex-start;
    border-right: thin solid var(--base-border-color);
    display: flex;
    flex: 0 0 var(--field-name-width);
    flex-direction: column;
    justify-content: center;
    padding: .6rem;
    &-label {
      border-bottom: thin solid $gray-light;
      font-size: 1.1rem;
      margin-bottom: .5rem;
    }
    input {
      border: none;
      color: $gray-dark;
      font-family: $serif !important;
      font-size: 1.3rem; // 13px
      min-width: var(--field-name-width); // change this in DocumentFieldComponent.js as well
      outline: none;
    }
  }

  &__content {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: .6rem;
  }

  &__tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__tool-options {
    align-items: center;
    display: flex;
    padding: 0 1rem;
    visibility: hidden;
  }

  &__dragger {
    padding-left: 1.2rem;
  }

  &:hover, &:focus, &:focus-within {
    .document-field__tool-options {
      visibility: visible;
    }
  }

  /**
   * For drag areas (files, etc)
   * ------------------------------------------------------------------------ */
  &__drop-area {
    border: thin solid $gray-light;
    border-radius: $borderRadius;
    padding: $sideGutterWidth;

    label {
      text-align: center;
    }

    &--active {
      background-color: $gray-light;
    }

    &--uploading {
      border: thin solid transparent;
      border-radius: 0;
      padding: 0;
    }
  }

  &__progress {
    position: relative;
    .spinner {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }


}
