@import 'CSS/inc/_vars.scss';
@import 'CSS/inc/_mixins.scss';

.document-field {
  background-color: $white;
  border: thin solid $gray-light;
  cursor: grab;
  margin-bottom: ($brandWidth / 2);
  outline: 0;
  padding: ($brandWidth / 2) ($brandWidth / 2) ($brandWidth / 4) ($brandWidth / 2);

  &:focus, &:focus-within {
    border: thin solid $action;
    box-shadow: inset 0 1px 2px $white-bis, 0 0 0 0.2em $action-light;
    .using-mouse & {
      border: thin solid $gray;
      box-shadow: 0 1px 4px 0px rgba($gray, .8);
    }
  }

  &--new {
    background-color: $white-bis;
    border: thin solid $gray;
    box-shadow: 0 1px 4px 0px rgba($gray, .8);
    input, textarea, .CodeMirror {
      background-color: $white-bis;
    }
    .document-field__name {
      input {
        background-color: $primary-light;
        color: $primary-dark;
        text-shadow: 0px 1px 0px rgba($white, .5);
        &::selection {
          background-color: lighten($primary-light, 80%);
          color: $black-bis;
        }
        &:focus {
          background-color: darken($primary-light, 20%);
        }
      }
    }
  }

  &--dragging {
    cursor: grabbing;
    opacity: 0.05;
    * {
      pointer-events: none;
    }
  }

  &--dragged-over {
    opacity: 0.5;
    * {
      pointer-events: none;
    }
  }

  &__name {
    display: inline-block;
    text-align: center;
    input {
      background-color: $highlight;
      border-radius: $borderRadius;
      // background-color: transparent;
      border: none;
      color: #fff;
      font-family: $serif !important;
      font-size: 1.2rem; // 12px
      text-shadow: 0px 1px 0px rgba($black-ter, .4);
      min-width: 100px; // change this in DocumentFieldComponent.js as well
      outline: none;
      text-align: center;
      transition: width 0.25s;
      &::selection {
        background-color: lighten($highlight, 80%);
        color: $black-bis;
      }
      &:focus {
        background-color: darken($highlight, 20%);
      }
    }
  }

  &__component {
  }

  &__tools {
    display: flex;
    justify-content: flex-end;
  }

  &__tool-options {
    visibility: hidden;
  }

  &:hover, &:focus, &:focus-within {
    .document-field__tool-options {
      visibility: visible;
    }
  }

}
