<%- include('partials/head', { title: title, permalink: permalink,  robots: 'noindex, nofollow' }); %>
<%- include('partials/navigation'); %>

<main>
  <header class="section">
    <div class="container">
      <h1 class="title">Your Account</h1>
    </div>
  </header>
</main>

<!-- Start plan selection -->
<div class="section">
  <div class="container">
    <div id="billing-component"></div>
  </div>
</div>

<%- include('partials/foot'); %>
