<%- include('partials/head', { title: title, permalink: permalink, robots: 'index, nofollow' }); %>
<%- include('partials/navigation'); %>
<main class="hero is-info is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <h2>Sign up</h2>
      <%- include('partials/sign-up'); %>
    </div>
  </div>
</main>
<%- include('partials/foot'); %>
