<%- include('partials/head', { title: title }); %>
  <%- include('partials/navigation', { title: title }); %>
  <main class="section">
    <div class="container">
      <!-- Sample react component mounting -->
      <div id="index"></div>
    </div>
  </main>
<%- include('partials/foot'); %>
