<%- include('partials/head', { title: title, permalink: permalink, robots: 'index, nofollow' }); %>
<main>
  <div class="container">
    <img src="/images/logo.svg" alt="Portway Logo" width="85" />
    <h2>Sign in to Portway</h2>
    <%- include('partials/login', { url: undefined }); %>
    <% if (typeof disableSignup !== 'undefined' && disableSignup === false) { %>
      <p>Don’t have an account? <a href="/sign-up">Create one</a>.</p>
    <% } %>
  </div>
</main>
<%- include('partials/footer', { supportLink: options.supportLink }); %>
<%- include('partials/foot'); %>
