@import 'CSS/inc/_include-media.scss';

.paginator {
  --paginator-page-bg: var(--color-white);
  --paginator-current-bg: var(--color-gray-5);
  @media (prefers-color-scheme: dark) {
    --paginator-page-bg: var(--color-gray-90);
    --paginator-current-bg: var(--color-gray-50);
  }

  &__list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 1rem 0;
    @include media('>medium') {
      justify-content: flex-end;
      padding: 0;
    }
  }

  &__page {
    background-color: var(--paginator-page-bg);
    border-radius: var(--border-radius);
    margin: 0 .25rem;
    padding: 3px;
    min-width: 24px;
    text-align: center;

    .btn {
      min-height: unset;
    }

    &--current {
      background-color: var(--paginator-current-bg);
      font-weight: bold;
    }

  }

}
