@import 'CSS/inc/_include-media.scss';
@import 'CSS/inc/_mixins.scss';
@import 'CSS/animations/_pulse.scss';

.document {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
  position: relative;

  &__no-document {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }

  &__navigation {
    padding: 1rem 1.5rem .3rem;
    a {
      color: var(--color-gray-30);
      font-size: 1.2rem;
      text-decoration: none;
    }
    .icon {
      svg {
        path {
          fill: var(--color-gray-30);
        }
      }
    }
    @include media('>medium') {
      display: none;
    }
  }

  &__header {
    background-color: var(--theme-surface);
    align-items: center;
    border-bottom: thin solid var(--theme-border-light);
    display: flex;
    height: 63px;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
  }

  &__button-expand {
    padding: 0 1.5rem;
    @include media('>medium') {
      padding: 0 1.9rem;
    }
  }

  &__title-container {
    align-items: center;
    display: flex;
    height: calc(var(--header-height) - 2);
    flex: 1;
  }

  &__title {
    background-color: transparent;
    border: none;
    color: var(--color-brand-dark);
    flex: 1;
    font-size: 1.8rem;
    font-weight: 500;
    height: 3rem;
    line-height: 3rem;
    padding: 0;
    outline: none;
    overflow: hidden;
    resize: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    -webkit-appearance: none;

    &:focus {
      color: var(--theme-text-color);
    }

  }

  &__toggle-container {
    padding: 0 1.5rem;
    @include media('>medium') {
      padding: 0 1.8rem;
    }
  }

  &__loading {
    align-items: center;
    color: var(--theme-overlay-dark);
    display: flex;
    flex-direction: column;
    height: calc(100% - 95px);
    justify-content: center;
    position: relative;
    .icon {
      animation-name: pulse;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
    }
  }

  &__outline-explainer {
    color: rgba(0, 0 , 0, .5);
    font-size: 1.3rem;
    line-height: 1.3rem;
    margin:  3rem auto 0;
    text-align: center;
    width: 80%;

    @include media('>medium') {
      width: 50%;
    }

    * {
      font-size: 1.3rem;
      line-height: 1.3rem;
    }

  }

  &__fields {
    flex: 1;
    overflow-y: auto;
    position: relative;

    @media (prefers-reduced-motion: no-preference) {
      transition: opacity 0.2s ease-in-out;
    }

    @include media('>medium') {
      padding-top: calc(var(--brand-width) / 2);
    }

    &--edit-mode {
      padding-bottom: 7rem;
    }

    // When publishing a document, disable everything
    &--disabled {
      pointer-events: none;
    }

    ol {
      list-style: none;
      margin: 0;
      padding: 0;
    }

  }

}
