@import 'CSS/inc/_mixins.scss';

.document {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
  position: relative;

  &__no-document {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }

  &__header {
    background-color: var(--theme-surface);
    align-items: center;
    border-bottom: thin solid var(--theme-border-light);
    display: flex;
    height: 63px;
    justify-content: space-between;
    margin-bottom: calc(var(--brand-width) / 2);
    position: sticky;
    top: 0;
    z-index: 10;
  }

  &__button-expand {
    padding: 0 1.9rem;
    .icon-expand {
      path {
        fill: var(--color-gray-40);
      }
    }
  }

  &__title-container {
    align-items: center;
    display: flex;
    height: calc(var(--header-height) - 2);
    flex: 1;
  }

  &__title {
    background-color: transparent;
    border: none;
    color: var(--color-brand-dark);
    flex: 1;
    font-family: var(--type-serif);
    font-size: 1.8rem;
    font-weight: 700;
    height: 3rem;
    line-height: 3rem;
    padding: 0;
    outline: none;
    resize: none;
    width: 100%;
    -webkit-appearance: none;

    &:focus {
      color: var(--theme-text-color);
    }

  }

  &__toggle-container {
    padding: 0 1.8rem;
  }

  &__fields {
    @media (prefers-reduced-motion: no-preference) {
      transition: opacity 0.2s ease-in-out;
    }

    // When publishing a document, disable everything
    &--disabled {
      opacity: 0.4;
      pointer-events: none;
    }

    ol {
      list-style: none;
      margin: 0;
      padding: 0;
    }

  }

}
