@import 'CSS/inc/_vars.scss';
@import 'CSS/inc/_mixins.scss';

.document {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    border: none;
    color: $primary;
    font-family: $serif;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1em;
    padding-top: 8px;
    outline: none;
    resize: none;
    width: 100%;
    -webkit-appearance: none;
  }

  &__fields {
    flex: 1;
    .field {
      border-bottom: thin solid $gray-light;
      &:last-child {
        border-bottom: none;
      }
    }
  }

  &__field-create-input {
    padding: 1em 0;
    label {
      margin-right: 1em;
    }
    input {
      background: $gray;
      border: 0;
      border-radius: 4px 4px;
      padding: 6px;
    }
  }

  &__field-menu {
    padding-left: 1rem;
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      margin-right: 1rem;
    }
  }

  &__footer {
    align-items: center;
    background-color: $white;
    display: flex;
  }

}
