@import 'CSS/inc/_vars.scss';
@import 'CSS/inc/_mixins.scss';

.document {
  --document-header-bg: #{$white};
  --document-header-border: #{$gray-light};
  @media (prefers-color-scheme: dark) {
    --document-header-bg: #{$black-bis};
    --document-header-border: #{$black-er};
  }
  position: relative;

  &__no-document {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }

  &__header {
    background-color: var(--document-header-bg);
    align-items: center;
    border-bottom: thin solid var(--document-header-border);
    display: flex;
    height: 65px;
    justify-content: space-between;
    margin-bottom: ($brandWidth / 2);
    padding: 0 ($brandWidth / 2) 0 0;
  }

  &__button-expand {
    padding: 0 ($brandWidth / 8);
    .icon-expand {
      path {
        fill: $gray-dark;
      }
    }
  }

  &__title-container {
    align-items: center;
    display: flex;
    flex: 1;
  }

  &__title {
    background-color: transparent;
    border: none;
    color: $primary;
    flex: 1;
    font-family: $serif;
    font-size: 1.8rem;
    font-weight: 700;
    height: 2rem;
    line-height: 1em;
    padding: 0;
    outline: none;
    resize: none;
    width: 100%;
    -webkit-appearance: none;

    &:focus {
      color: var(--base-color);
    }

  }

  &__publish-date {
    color: $gray-dark;
    display: block;
  }

  &__menus {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 0 $brandWidth / 2;

    // When publishing a document, disable everything
    &--disabled {
      opacity: 0.4;
      pointer-events: none;
    }

  }

  &__fields {
    list-style: none;
    margin: 0;
    padding: $brandWidth / 2;
    transition: opacity 0.2s ease-in-out;

    // When publishing a document, disable everything
    &--disabled {
      opacity: 0.4;
      pointer-events: none;
    }

  }

  // Validation for document
  .validation {
    // background-color: $gray-light;
  }

}
