@import 'CSS/inc/_vars.scss';
@import 'CSS/inc/_mixins.scss';

.global-search {
  --global-search-background: var(--color-gray-4);
  @media (prefers-color-scheme: dark) {
    --global-search-background: var(--color-gray-8);
  }
  padding: 0 1rem;
  input[type='search'] {
    background: var(--global-search-background) url('/images/icon/search.svg') no-repeat 12px 50%;
    border: none;
    border-radius: 1.8rem;
    margin: 0;
    padding: 7px 12px 7px 33px;
    -webkit-appearance: none;
    @include focus(transparent);
  }
}
