@import 'CSS/inc/_vars.scss';
@import 'CSS/inc/_mixins.scss';

.global-search {
  input[type='search'] {
    background: $white-ter url('/images/icon/search.svg') no-repeat 12px 50%;
    border: none;
    border-radius: 18px;
    margin: 0;
    padding: 7px 12px 7px 33px;
    -webkit-appearance: none;
    @include focus(transparent);
  }
}
