@import 'CSS/inc/_include-media.scss';

.table {
  --column-width-min: 50px;
  --row-height-min: 50px;
  --cell-padding: .5rem;
  --row-alternate-bg-color: var(--color-gray-2);
  --cell-heading-color: var(--color-gray-70);
  --cell-heading-sortable-color: var(--color-gray-80);
  --cell-heading-sorted-color: var(--color-gray-50);
  @media (prefers-color-scheme: dark) {
    --cell-heading-color: var(--color-gray-40);
    --cell-heading-sortable-color: var(--color-gray-30);
    --cell-heading-sorted-color: var(--color-gray-20);
    --row-alternate-bg-color: rgba(0, 0, 0, .1);
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__heading-cell {
    align-self: center;
    color: var(--cell-heading-color);
    display: flex;
    font-weight: 500;
    padding: var(--cell-padding);
  }
  &__heading-btn {
    &--sortable {
      color: var(--cell-heading-sortable-color);
      text-decoration: underline;
    }
    &--sorted {
      color: var(--cell-heading-sorted-color);
    }
    &--ascending {
      + .icon {
        transform: rotate(180deg);
      }
    }
    &--descending {
      + .icon {
        transform: rotate(0);
      }
    }
  }
  &__row {
    padding: 1rem var(--cell-padding) 0;
    position: relative;
    &:nth-child(even) {
      background-color: var(--row-alternate-bg-color);
    }
    @include media('>medium') {
      display: grid;
      grid-auto-rows: minmax(var(--row-height-min), auto);
      grid-column-gap: 1rem;
      grid-template-columns: repeat(auto-fit,  minmax(var(--column-width-min), 1fr));
      padding: 0 var(--cell-padding);
    }
  }
  &__heading {
    border-bottom: thin solid var(--theme-border);
    display: grid;
    grid-auto-rows: auto;
    grid-auto-rows: minmax(var(--row-height-min), auto);
    grid-column-gap: 1rem;
    grid-template-columns: repeat(auto-fit,  minmax(var(--column-width-min), 1fr));
    padding: 0 var(--cell-padding);
  }
  &__cell {
    align-self: center;
    padding: var(--cell-padding);
  }
  &__tools {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 0 var(--cell-padding);

    // Space it all out
    > * { margin-left: 1rem }

  }
}
