@import 'CSS/inc/_include-media.scss';

.document-toolbar {
  align-items: center;
  background-color: var(--theme-overlay-light);
  border-top: thin solid var(--theme-border);
  display: flex;
  flex: 1;
  font-size: 1.2rem;
  justify-content: space-between;
  height: 50px;
  padding: 0 calc(var(--gutter-width) / 4);
  z-index: 100;

  @media all and (display-mode: standalone) {
    height: 75px;
    padding: 0 calc(var(--gutter-width) / 4) 2rem;
  }

  &__start {
    align-items: center;
    display: flex;
    > div {
      margin-right: 7px;
    }
  }

  &__end {
    align-items: center;
    display: flex;
    .btn + .btn {
      margin-left: .6rem;
    }
  }

  &__info {
    color: var(--color-gray-30);
    display: none;
    font-size: 1.2rem;
    margin-right: 1rem;
    @include media('>medium') {
      display: block;
    }
  }

  .popper-group {
    // @todo stuff like this should be a component and not specific styles
    // once we redo the buttons
    > .btn {
      // Format icon
      .icon {
        border: thin solid var(--color-gray-40);
        @media (prefers-reduced-motion: no-preference) {
          transition: transform 0.1s ease-out;
        }
      }
      @media (hover: hover) {
        &:hover:not([disabled]) {
          .icon {
            background-color: var(--color-gray-2);
          }
        }
      }
      &[aria-expanded="true"] {
        .icon {
          background-color: var(--color-gray-15);
          border-color: transparent;
        }
        @media (hover: hover) {
          &:hover:not([disabled]) {
            .icon {
              background-color: var(--color-gray-15);
            }
          }
        }
      }
    }
  }

  // Flip the caret icon in the dropdown
  .icon-caret {
    transform: rotate(-180deg);
  }

}
