.document-users {
  --document-users-size: 2.4rem;
  --document-users-border: 2px solid var(--theme-overflow);

  &__list {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    &--vertical {
      flex-direction: column;
    }

  }

  &__list-item {
    display: inline-block;
  }

  &__avatar {
    border: var(--document-users-border);
    border-radius: 50% 50%;
    display: block;
    height: var(--document-users-size);
    overflow: hidden;
    width: var(--document-users-size);

    .document-users__list--vertical & {
      box-shadow: var(--box-shadow);
    }
  }

  &__placeholder {
    align-items: center;
    background-color: var(--theme-overlay-dark);
    border: var(--document-users-border);
    border-radius: 50% 50%;
    color: var(--theme-headline-color);
    display: inline-flex;
    font-size: 1.1rem;
    height: var(--document-users-size);
    justify-content: center;
    width: var(--document-users-size);

    .document-users__list--vertical & {
      box-shadow: var(--box-shadow);
    }
  }

}
