.help-section {

  .header {
    .pill {
      margin: 0 calc(var(--icon-margin) * 2);
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2rem;
  }

  &__content {
    p:first-child {
      margin-top: 0;
    }
  }

  &__aside {
    border-left: thin solid var(--theme-border);
    padding: 0 2rem;
    h2:first-child {
      line-height: 2.7rem;
      margin-top: 0;
    }
  }

}
