/**
 * Panel is a navigataion on the left, content on the right layout
 * Project Settings, Admin Settings, etc
 */
.panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  &__container {
    display: flex;
    flex: 1;
    padding-top: calc(var(--brand-width) / 2);
  }
  &__navigation {
    margin-right: var(--brand-width);
    width: 20%;
    a {
      display: block;
      color: var(--theme-header-color);
      padding: 8px 7px;
      text-decoration: none;
      &.link--back {
        display: flex;
        // margin: 0;
      }
      &.active {
        background-color: var(--theme-overlay-dark);
        border-left: 2px solid var(--color-green);
      }
    }
  }
  &__content {
    flex: 1;
    overflow-x: hidden;
    section {
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
