@import 'CSS/inc/_vars.scss';

/**
 * Panel is a navigataion on the left, content on the right layout
 * Project Settings, Admin Settings, etc
 */
.panel {
  --menu-background: var(--color-gray-6);
  display: flex;
  flex: 1;
  flex-direction: column;
  @media (prefers-color-scheme: dark) {
    --menu-background: var(--color-gray-9);
  }
  &__container {
    display: flex;
    flex: 1;
    padding-top: $brandWidth / 2;
  }
  &__navigation {
    margin-right: $brandWidth;
    width: 20%;
    a {
      display: block;
      color: var(--base-color);
      padding: 8px 7px;
      text-decoration: none;
      &.link--back {
        display: flex;
        // margin: 0;
      }
      &.active {
        background-color: var(--menu-background);
        border-left: 2px solid var(--color-green);
      }
    }
  }
  &__content {
    flex: 1;
    overflow-x: hidden;
    section {
      position: relative;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
