@import 'CSS/inc/_include-media.scss';

.body--with-panel {
  main {
    overflow-y: auto;
  }
}

/**
 * Panel is a navigataion on the left, content on the right layout
 * Project Settings, Admin Settings, etc
 */
.panel {
  display: flex;
  flex: 1;
  flex-direction: column;

  &__container {
    align-items: flex-start;
    display: flex;
    flex: 1;
    padding-top: calc(var(--brand-width) / 4);
    position: relative;
    @include media('>medium') {
      padding-top: calc(var(--brand-width) / 2);
    }
  }

  &__navigation {
    margin-right: calc(var(--brand-width) / 2);
    position: sticky;
    top: 0;
    @include media('>medium') {
      width: 20%;
    }

    a {
      align-items: center;
      border-left: 2px solid transparent;
      display: flex;
      color: transparent;
      justify-content: center;
      overflow: hidden;
      padding: 8px 7px;
      text-decoration: none;
      width: 48px;
      .label {
        display: none;
      }
      &.link--back {
        display: flex;
      }
      &.active {
        background-color: var(--theme-overlay-dark);
        border-left: 2px solid var(--color-green);
      }
      @include media('>medium') {
        color: var(--theme-header-color);
        justify-content: flex-start;
        width: auto;
        .label {
          display: block;
        }
        .icon {
          margin-right: .75rem;
        }
      }
    }
  }

  &__content {
    flex: 1;
    // overflow-x: hidden; // this causes issues with focused input borders. Can we leave this out?
    section {
      position: relative;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        border-bottom: none;
        padding-bottom: 8rem;
      }
    }
  }
}
